@keyframes saratoga {
  from { transform: translate(200px, -500px) }
  to { transform: translate(0, 0) }
}

@keyframes engage {
  from { transform: translate(500px, 100px) }
  to { transform: translate(0, 0) }
}

@keyframes apps {
  from { transform: translate(400px, 300px) }
  to { transform: translate(0, 0) }
}

@keyframes editorial {
  from { transform: translate(-10vw, -600px) }
  to { transform: translate(0, 0) }
}

@keyframes ux {
  from { transform: translate(-100vw, 10vw) }
  to { transform: translate(0, 0) }
}

@keyframes next {
  from { transform: translate(-10vw, 100vh) }
  to { transform: translate(0, 0) }
}

@keyframes design {
  from { transform: scale(0.1); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.hero #saratoga {
  animation: saratoga 1s ease;
}

.hero #engage {
  animation: engage 1.2s ease;
}

.hero #apps {
  animation: apps .9s ease;
}

.hero #editorial {
  animation: editorial .8s ease;
}

.hero #ux {
  animation: ux .8s ease;
}

.hero #next {
  animation: next 1.6s ease;
}

.hero #design {
  animation: design 1s ease-in;
  transform-origin: center;
}
