/**
 * Atoms: Saratoga design system
 */

:root {
  --headerFamily: "McClatchy Serif", serif;
  --headerWeight: 400;
  --headerTransform: none;
}

body {
  position: relative;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
  font-family: "McClatchy Serif", serif;
}

body.freeze {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #0066b3;
}

a:hover {
  text-decoration: underline;
}

h1, .h1 {
  font: 600 30px/1.2em "McClatchy Serif", serif;
}

h2, .h2 {
  font: var(--headerWeight) 22px/1.2em var(--headerFamily);
  text-transform: var(--headerTransform);
}

h3, .h3 {
  font: var(--headerWeight) 18px/1.2em var(--headerFamily);
  text-transform: var(--headerTransform);
}

h4, .h4 {
  font: var(--headerWeight) 16px/1.2em var(--headerFamily);
  text-transform: var(--headerTransform);
}

h5, .h5 {
  font: 600 14px/1.2em "McClatchy Sans", sans-serif;
  text-transform: var(--headerTransform);
}

h6, .h6 {
  font: var(--headerWeight) 12px/1.2em "McClatchy Sans", sans-serif;
  text-transform: var(--headerTransform);
}

p {
  font: 17px/1.5em "Lyon", serif;
}

li {
  font: 17px/1.5em "Lyon", serif;
  margin: 10px 0 10px calc(1em + 15px);
}

ul li {
  list-style-image: url("icons/circle.svg");
}

time {
	max-width: unset;
  display: inline-block;
  font: 300 11px/1.2em "McClatchy Sans", sans-serif;
  text-transform: uppercase;
  color: #707070;
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption, .caption {
  font: 14px/1.5em "McClatchy Sans", sans-serif;
  color: #707070;
  padding: 10px 15px 0;
}

button, .button {
  display: inline-block;
  font: 600 14px "McClatchy Sans";
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: .6em 1em .3em;
  margin: 4px 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: flex-start;
  background-color: white;
}

.button:hover {
  text-decoration: none;
}

.button.stretch {
  display: block;
  align-self: stretch;
  padding: 1em 1em .7em;
}

.ghost {
  border-color: #4a4a4a;
}

hr {
  border: .5px solid #707070;
}

/** Typography */

.kicker {
  color: inherit;
  display: inline-block;
  padding: .4em .6em .2em;
  border: 1px solid #4a4a4a;
  border-radius: 2px;
  align-self: flex-start;
  text-transform: uppercase;
}

.kicker:hover {
  text-decoration: none;
}

/* .kicker a { */
/*   color: inherit; */
/* } */

.byline {
  display: inline-block;
  font: 400 11px/1.5em "McClatchy Sans";
  color: #707070;
  text-transform: uppercase;
}

.byline a {
  font-weight: 700;
  color: inherit;
  text-decoration: underline;
}

.credit {
  display: inline-block;
  font: italic 400 11px/1.5em "McClatchy Sans";
}

.label {
  margin: 0;
  display: flex;
  justify-content: center;
  color: inherit;
}

.label > * {
  border-radius: 0;
  margin: 0;
  padding: 5px 10px 3px;
}

.label.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.more-link {
  display: flex;
  align-items: center;
  font: 600 14px/1.5em "McClatchy Sans";
  color: #707070;
  text-transform: uppercase;
  margin-top: 15px;
}

.more-link:after, .arrow:after {
  content: "\2192";
  font-size: 20px;
  margin-left: 4px;
}

.more-link:hover {
  text-decoration: none;
}
