/**
 * Molecules: Saratoga design system
 */

/** Paper */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.paper .paper, 
.paper .card, 
.card .paper, 
.card .card {
  box-shadow: none;
}

/** Cards */

.card {
  display: flex;
  flex-direction: column;
}

.card.horizontal {
  flex-direction: row;
}

.card.horizontal > * {
  flex: 1 1 300px;
}

.card.horizontal figure {
  position: relative;
}

.card.horizontal figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.card.horizontal .package {
  justify-content: center;
  box-sizing: border-box;
}

.card.horizontal .package time {
  flex: none;
}

/** Package */

.package {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.package > * {
  margin: 10px 0 0 0;
}

.package > :first-child {
  margin-top: 0;
}

.package > time {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.package a {
  color: inherit;
}

.package .more-link {
  color: #707070;
}

.package.no-img .h3 {
  font-size: 28px;
}

.package.marketing > :not(:first-child) {
  margin-top: 20px;
}

/** Reverse impact */

.impact, a.impact {
  background-color: #373737;
  color: white;
}

.impact * {
  color: white;
  border-color: white;
  fill: white;
}

.impact .card {
  background-color: transparent;
  box-shadow: none;
}

.impact .label > *, .impact .button {
  background-color: white;
  color: #222;
}

.impact .more-link {
  color: white;
}

/** Reverse promo */

.promo, a.promo {
  background-color: #31409F;
  color: white;
}

/** Social media */

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  margin: 15px;
  text-decoration: none;
  height: 20px;
  width: 20px;
}

.social-media svg {
  height: 20px;
  width: 20px;
}

/** Expander */

.expander {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expander:after {
  content: url(../icons/caret-expander.svg);
  width: 14px;
  margin-left: 5px;
  transition: transform .5s ease;
  transform: translateY(-.1em) rotateX(180deg);
  transform-origin: 50% 50%;
}

.expander ~ * {
  display: none;
}

.expander.open:after {
  transform: translateY(-.1em) rotateX(0);
}

.expander.open ~ * {
  display: block;
}

/** Utilities */

summary, .summary {
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

.small {
  font: 400 11px/1.5em "McClatchy Sans", sans-serif;
}

.caps {
  text-transform: uppercase;
  --headerTransform: uppercase;
}

.sans {
  font-family: "McClatchy Sans", sans-serif;
  --headerFamily: "McClatchy Sans", sans-serif;
}

.serif {
  font-family: "McClatchy Serif", serif;
  --headerFamily: "McClatchy Serif", serif;
}

.soft {
  font-weight: 400;
  --headerWeight: 400;
}

.bold {
  font-weight: 600;
  --headerWeight: 600;
}

.gray {
  color: #707070;
}

.error {
  color: #D63031;
}

.underline {
  text-decoration: underline;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.no-shadow {
  box-shadow: none;
}

.relative {
  position: relative;
}
