/**
 * Generic grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

/**
 * Story body
 */

.story {
	padding-bottom: 30px;
  --headerFamily: "McClatchy Sans", sans-serif;
  --headerWeight: 600;
  --headerTransform: uppercase;
}

.story > * {
  max-width: 720px;
	padding: 0 15px;
	margin-right: auto;
  margin-left: auto;
}

.story > figure {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

.story img, .story figcaption {
	max-width: 1140px;
	margin: 0 auto;
}

.story .story-module {
  padding: 0 15px;
  margin: 30px auto;
}

.story .ad {
  margin: 50px auto;
}

/**
 * Header package
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	padding: 30px 15px 15px;
}

.header a {
	color: inherit;
}

.header > * {
	margin: 15px 0 0;
}

.header .bio {
  display: flex;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 500px) {
	.header .bio {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.header .bio > * {
		text-align: left;
	}
}

/**
 * Series nav
 */

.series-nav {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: #dfdfdf;
}

.series-nav .summary {
  color: #707070;
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

.series-nav .article h4 {
  flex: 1;
  padding: 0 15px;
  margin: 0;
  max-width: 375px;
}

/**
 * Related stories
 */

.related-stories {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

.related-stories .package {
  padding: 0;
}

/**
 * Author card
 */

.author-card .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.author-thumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.author-card .byline {
  flex: 1 1 15em;
  padding: 10px 15px;
  margin: 0;
}

.author-card .social-media a {
  padding: 0 15px;
}

.author-subscription {
  padding: 10px 0;
  color: #707070;
}

.author-card .callout {
  font: 14px/20px "McClatchy Sans",sans-serif;
  color: #0066b3;
}

/**
 * Timeline
 */

.timeline-event {
	border-left: 1px solid #707070;
	max-width: 500px;
}

.timeline-event:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	background-color: #707070;
	border: 4px solid white;
	border-radius: 50%;
	transform: translate(-9.5px, 12px);
}

/**
 * Transparency
 */

.transparency {
	max-width: 100%;
	padding: 15px;
	background-color: #f4f4f4;
}

.transparency > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

.transparency .expander {
	justify-content: space-between;
}

.question {
	padding-top: 15px;
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

/**
 * Big News
 */

.big-news a {
	color: inherit;
}

.big-news > * {
	max-width: 1140px;
	margin: 0 auto;
}

.big-news .latest {
	padding: 15px 15px 0;
}

.big-news .grid {
	max-width: 1170px;
	grid-gap: 0;
	grid-template-columns: repeat(3, 1fr);
	display: block;
}

.big-news h1 {
	font-size: 40px;
	text-align: center;
}

.big-news > figure {
	max-width: 100%;
}

.big-news img {
	max-width: 1600px;
	margin: 0 auto;
}

.big-news figcaption {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 15px 15px;
}

.big-news .featured {
	display: block;
}

@media (min-width: 680px) {
	.big-news .grid {
		display: grid;
	}

	.big-news h1 {
		font-size: 52px;
	}

	.big-news .featured .card {
		padding: 15px;
	}

	.big-news .featured .package {
		padding: 15px 0 0;
	}
}
