/**
 * Generic grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

/**
 * Story body
 */

.story-body {
  --headerFamily: "McClatchy Sans", sans-serif;
  --headerWeight: 600;
  --headerTransform: uppercase;
}

.story-body > * {
  max-width: 720px;
	padding: 0 15px;
	margin-right: auto;
  margin-left: auto;
}

.story-body > figure,
.story-body > .lead-item {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

.story-body img, .story-body figcaption {
	max-width: 1140px;
	margin: 0 auto;
}

.story-body .story-module {
  padding: 0 15px;
  margin: 30px auto;
}

.story-body .ad {
  margin: 50px auto;
}

.story-body > :last-child {
	margin-bottom: 0;
}

/**
 * Header package
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	padding: 15px;
}

.header > * {
	margin: 15px 0 0;
}

.header .kicker {
	align-self: unset;
}

.header .byline {
	display: block;
	margin: 0 0 10px;
}

@media (min-width: 600px) {
	.header .bio {
		display: flex;
		justify-content: space-between;
		width: 100%;
		text-align: left;
	}

	.header .social-media a {
		padding-top: 0;
	}
}

/**
 * Series nav
 */

.series-nav {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: #dfdfdf;
}

.series-nav .summary {
  color: #707070;
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

.series-nav .article h4 {
  flex: 1;
  padding: 0 15px;
  margin: 0;
  max-width: 375px;
}

/**
 * Related stories
 */

.related-stories {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

.related-stories .package {
  padding: 0;
}

/**
 * Author card
 */

.author-card .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.author-thumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.author-card .byline {
  flex: 1 1 15em;
  padding: 10px 15px;
  margin: 0;
}

.author-card .social-media {
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 5px;
}

.author-card .social-media a {
  padding: 0 10px;
}

.author-card .social-media svg {
	width: 16px;
	height: 16px;
}

.author-card .social-media .phone_num {
	display: inline-block;
}

.author-subscription {
  padding: 10px 0;
  color: #707070;
}

.author-card .callout {
  font: 14px/20px "McClatchy Sans",sans-serif;
  color: #0066b3;
}

/**
 * Timeline
 */

.timeline-event {
	border-left: 1px solid #707070;
	max-width: 500px;
  --headerFamily: "McClatchy Sans", sans-serif;
  --headerWeight: 600;
  --headerTransform: uppercase;
}

.timeline-event:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	background-color: #707070;
	border: 4px solid white;
	border-radius: 50%;
	transform: translate(-9.5px, 12px);
}

/**
 * Transparency
 */

.transparency {
	max-width: 100%;
	padding: 15px;
	background-color: #f4f4f4;
}

.transparency > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

.transparency .expander {
	justify-content: space-between;
}

.question {
	padding-top: 15px;
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
}

/**
 * Big News
 */

.big-news a {
	color: inherit;
}

.big-news > * {
	max-width: 1140px;
	margin: 0 auto;
}

.big-news .latest {
	padding: 15px 15px 0;
}

.big-news .grid {
	max-width: 1170px;
	grid-gap: 0;
	grid-template-columns: repeat(3, 1fr);
	display: block;
}

.big-news h1 {
	font-size: 40px;
	text-align: center;
}

.big-news > figure {
	max-width: 100%;
}

.big-news img {
	max-width: 1600px;
	margin: 0 auto;
}

.big-news figcaption {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 15px 15px;
}

.big-news .featured {
	display: block;
}

@media (min-width: 680px) {
	.big-news .grid {
		display: grid;
	}

	.big-news h1 {
		font-size: 52px;
	}

	.big-news .featured .card {
		padding: 15px;
	}

	.big-news .featured .package {
		padding: 15px 0 0;
	}
}

/**
 * In Depth card
 */

.card.in-depth {
	flex-wrap: wrap;
}

.card.in-depth figure {
  flex-grow: 4;
	min-height: 400px;
}

.card.in-depth .package {
  flex-grow: 1;
}

/**
 * SWG Promo card
 */

.card.swg-promo {
	flex-wrap: wrap;
}

.card.swg-promo > :first-child {
	flex-grow: 4;
	min-height: 200px;
}

.card.swg-promo .title {
	font: 600 48px "McClatchy Sans", sans-serif;
}

/**
 * Read Next
 */

.read-next .package {
	max-width: 710px;
	margin: 0 auto;
}

.read-next .header {
	align-items: flex-start;
	text-align: left;
	padding: 0;
}

.read-next .header > :first-child {
	margin-top: 0;
}

.read-next .social-media {
	justify-content: flex-start;
}

.read-next .social-media > a:first-child {
	padding-left: 0;
}

.read-next .more-link {
	color: #707070;
}

/**
 * Modals
 */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 100px 15px 0;
	max-width: unset;
	overflow: auto;
	z-index: 9999;
	transform: translateZ(0);
	pointer-events: none;
}

.modal > * {
	position: relative;
	width: 100%;
	max-width: 710px;
	margin: 15px auto;
	pointer-events: auto;
}

.modal .package {
	padding: 30px 50px 30px 15px;
}

.modal .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	cursor: pointer;
}

.modal.screen {
	background-color: rgba(255,255,255,0.8);
	pointer-events: auto;
}

.modal[hidden] {
	display: none;
}

/** Bottom version */

.modal.bottom:not([hidden]) {
	display: flex;
	align-items: flex-end;
}

.modal.bottom > * {
	max-width: 1110px;
	position: relative;
}

.modal.bottom .package {
	max-width: 710px;
	margin: 0 auto;
}

/** Local news subscription (modal version) */

.modal-subscription {
	flex-wrap: wrap;
}

/** Newsletter signup (modal version) */

.modal-newsletter .grid {
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.modal-newsletter input, .modal-newsletter .button {
	padding: 1em 1em .7em;
	border-radius: 2px;
	border: none;
	color: #222;
	align-self: unset;
}

@media (min-width: 600px) {
	.modal-newsletter .grid {
		grid-template-columns: 3fr 1fr;
	}
}

