/**
 * Nav
 */

.banner {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.banner .logo {
  height: 60px;
}

.banner nav {
  display: flex;
}

.banner a {
  font: 600 14px/1.2em "McClatchy Sans", sans-serif;
  padding: 13px 15px;
  text-transform: uppercase;
  color: inherit;
}

.banner a:hover {
  text-decoration: none;
}

.banner a span {
  padding: 2px 0;
}

.banner a.active span {
  border-bottom: 2px solid #333;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}

/**
 * Generics
 */

section {
  margin: 50px auto;
  max-width: 1140px;
}

.grid-label {
  margin: 15px auto;
  padding: 0 15px;
}


/**
 * Footer
 */

footer {
  background-color: #373737;
  min-height: 20px;
}
