/**
 * Settings
 */

:root {
  --paper-shadow: 0px 0px 2px #999;
  --impact-color: #373737;
}

/**
 * Ad
 */

.ad {
  justify-self: center;
}

.ad > div {
  background-color: #ddd;
}

/**
 * Paper
 */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: var(--paper-shadow);
}

.paper .card {
  box-shadow: none;
}

/**
 * Story cards
 */

.card {
  display: flex;
  flex-direction: column;
}

.card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.card-info > * {
  margin: 10px 0 0 0;
}

.card-info > :first-child {
  margin-top: 0;
}

.card-info > time {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.card .video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}

.card .video-play {
  height: 48px;
  width: 48px;
  fill: white;
  stroke: none;
  cursor: pointer;
}

.card .video-runtime {
  margin-left: 10px;
  color: white;
}

/**
 * Reverse impact
 */

.impact {
  background-color: var(--impact-color);
}

.impact * {
  color: white;
  border-color: white;
}

.impact .label > * {
  background-color: white;
  color: #222;
}

.impact .card {
  background-color: transparent;
  box-shadow: none;
}

/**
 * Newsletter
 */

.newsletter {
  align-self: flex-start;
}

.newsletter .card-info {
  padding: 30px;
}

@media (min-width: 690px) {
  .newsletter .card-info {
    padding: 15px;
  }
}
