.inline-cta {
  --bc: white;
  --bbc: #222;
}

.impact .inline-cta {
  --bc: #222;
  --bbc: white;
}

.inline-cta > * {
  margin: 10px 0 0 0;
  max-width: 100%;
}

.inline-cta > :first-child {
  margin-top: 0;
}

