/**
 * Read Next
 */

.read-next .package {
	width: 100%;
	max-width: 710px;
	margin: 0 auto;
  box-sizing: border-box;
}

.read-next .header {
  align-self: stretch;
	align-items: flex-start;
	text-align: left;
	padding: 0;
}

.read-next .header > :first-child {
	margin-top: 0;
}

.read-next .social-media {
	justify-content: flex-start;
}

.read-next .social-media > a:first-child {
	padding-left: 0;
}

.read-next .more-link {
	padding: 0;
}

