/**
 * Story body
 */

.story-body {
  --hf: "McClatchy Sans", sans-serif;
  --hw: 600;
  --ht: uppercase;
  --lc: #5169B8;
  --lhc: #31409F;
  --ld: underline;
  --lhd: underline;
}

.story-body > * {
  max-width: 720px;
	padding: 0 15px;
	margin-right: auto;
  margin-left: auto;
	box-sizing: content-box;
}

.story-body > figure {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

.story-body > .header + figure {
  margin-top: 15px;
}

.story-body img, 
.story-body figcaption {
	max-width: 1140px;
	margin: 0 auto;
}

.story-body .story-module,
.story-body .embed-infographic {
  margin: 30px auto;
}

.story-body .ad-widget {
  margin: 50px auto;
}

.story-body .dateline {
	display: block;
}

.story-body .immersive {
  margin-top: 0;
}
