/**
 * Form elements
 */

input, select {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
  color: var(--tc);
}

button, .button {
  color: var(--bc);
  background-color: var(--bbc);
  border: 1px solid transparent;
}

.button {
  display: inline-block;
  align-self: flex-start;
  font: 600 14px "McClatchy Sans";
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: .6em 1em .3em;
  box-sizing: border-box;
  border-radius: 2px;
  --ld: none;
  --lhd: none;
}

.button.stretch {
  display: block;
  align-self: stretch;
  padding: 1em 1em .7em;
}

.button.big {
  padding: 11px 35px 7px;
}

.ghost {
  border-color: #4a4a4a;
}
