{{ define "content" }}
<style>
  h1 {
    --ht: none;
    --hf: var(--serif);
  }

</style>

<article class="story-body">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
</article>

<section class="grid {{ $.Section }}">
  {{ range .Pages }}
  <div href="{{.Permalink}}" class="paper package">
    <h3 class="sans"><b>{{.Title}}</b></h3>
    <p class="summary">{{.Description}}</p>
    <div>
      <a class="button impact" href="{{ .Permalink }}">SEE DETAILS</a>
      {{ with .Params.example }}
      <a class="button" href="{{ . }}">SEE LIVE EXAMPLE</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
