{{ define "head" }}
<link rel="stylesheet" href="/css/decks/display-classes.css">
<link rel="stylesheet" href="/css/decks/flag.css">
<link rel="stylesheet" href="/css/decks/footer.css">
<link rel="stylesheet" href="/css/decks/menu.css">
<link rel="stylesheet" href="/css/decks/story-template.css">
<link rel="stylesheet" href="/css/decks/search.css">
<link rel="stylesheet" href="/css/decks/eedition-portal.css">
<link rel="stylesheet" href="/css/decks/purple-tuesdays.css">
<link rel="stylesheet" href="/css/decks/embed-fixes.css">

<script async src="https://www.googletagservices.com/tag/js/gpt.js"></script>
<script defer src="/js/navigation.js"></script>
<script defer src="/js/ads.js"></script>
{{ end }}
