{{ define "head" }}
<link rel="stylesheet" href="/css/decks/display-classes.css">
<link rel="stylesheet" href="/css/decks/flag.css">
<link rel="stylesheet" href="/css/decks/footer.css">
<link rel="stylesheet" href="/css/decks/menu.css">
<link rel="stylesheet" href="/css/decks/search.css">
<link rel="stylesheet" href="/css/decks/eedition-portal.css">
<link rel="stylesheet" href="/css/decks/impact2020.css">
<link rel="stylesheet" href="/css/decks/zones.css">
<link rel="stylesheet" href="/css/decks/purple-tuesdays.css">

<script defer src="/js/navigation.js"></script>
<script defer src="/js/gpt-ad.js"></script>
{{- if eq .Title "story" }}
<script defer src="/js/zones.js"></script>
<script defer src="/js/typologies.js"></script>
<script defer src="/js/dynamics.js"></script>
<script defer src="/js/zone-toggle.js"></script>
<script defer src="/js/connatix-top-stories.js"></script>
<script defer src="/js/zergnet-stories.js"></script>
{{- end }}

<!-- Style Guide only -->
<style>
gpt-ad {
  display: block;
  text-align: center;
}
</style>
{{ end }}
