{{ define "head" }}
<link rel="stylesheet" href="/css/decks/display-classes.css">
<link rel="stylesheet" href="/css/decks/flag.css">
<link rel="stylesheet" href="/css/decks/footer.css">
<link rel="stylesheet" href="/css/decks/menu.css">
<link rel="stylesheet" href="/css/decks/ad-widget.css">
<link rel="stylesheet" href="/css/decks/story-template.css">
<link rel="stylesheet" href="/css/decks/eedition-portal.css">
<link rel="stylesheet" href="/css/decks/purple-tuesdays.css">

<script async src="/js/navigation.js"></script>
{{ end }}
