{{ define "head" }}
<link rel="stylesheet" href="/css/templates.css">
{{ end }}

{{ define "content" }}
<section class="full-bleed">
  {{ partial "saratoga/big-news.html" }}
</section>

<section>
  <div class="flex-columns reverse">
    <div class="flex-columns main-stage">
      {{ partial "saratoga/card.html" (dict "class" "lead-item" "size" "h1") }}
      {{ partial "saratoga/card.html" }}
      {{ partial "saratoga/card.html" }}
      {{ partial "saratoga/card.html" }}
      {{ partial "saratoga/card.html" }}
      {{ partial "saratoga/card.html" }}
      {{ partial "saratoga/card.html" }}
    </div>
    <div class="flex-columns rail">
      {{ partial "saratoga/digest.html" (dict "label" "") }}
      <div class="ad-widget">
        <div style="width: 300px; height: 600px;"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="ad-widget">
    <div style="width: 728px; height: 90px;"></div>
  </div>
</section>

<section>
  {{ partial "saratoga/in-depth.html" }}
</section>

<section>
  <div class="flex-columns">
    <div class="main-stage">
      <div class="flex-columns">
        {{ partial "saratoga/digest.html" (dict "label" "sticky") }}
        {{ partial "saratoga/digest.html" (dict "label" "sticky") }}
      </div>
      <div class="flex-columns">
        {{ partial "saratoga/digest.html" (dict "label" "sticky") }}
        {{ partial "saratoga/digest.html" (dict "label" "sticky") }}
      </div>
    </div>
    <div class="rail">
      <div class="ad-widget">
        <div style="width: 300px; height: 600px;"></div>
      </div>
    </div>
  </div>
</section>

<section>
  {{ partial "saratoga/promo.html" }}
</section>

<section>
  <div class="flex-columns">
    {{ partial "saratoga/card.html" }}
    {{ partial "saratoga/card.html" }}
    {{ partial "saratoga/card.html" }}
    {{ partial "saratoga/card.html" }}
    {{ partial "saratoga/card.html" }}
    {{ partial "saratoga/card.html" }}
  </div>
</section>

{{ end }}
