{{ define "head" }}
<link rel="stylesheet" href="/css/style-guide.css">
{{ end }}

{{ define "content" }}
<div class="panels">
  <div class="paper story details">
    <h2 style="margin-top: 30px;">
      {{- if .Param "updated" }}
      <span class="updated">RECENTLY UPDATED</span>
      {{- end }}
      {{- if .Param "function" }}
      {{- .Param "function" }} <small>({{ .Title }})</small>
      {{- else }}
      {{- .Title }}
      {{- end -}}
    </h2>
    {{ .Content }}
  </div>

  {{ partial "atomic-list.html" .Site }}
</div>
{{ end }}
