{{ define "head" }}
<link rel="stylesheet" href="/css/style-guide.css">
{{ if eq .Params.level "subscription" -}}
<link rel="stylesheet" href="/css/subscriptions.css">
{{- end }}
{{ end }}

{{ define "content" }}
<div class="panels">
  <div class="paper story-body details">
    <h2 class="page-header">
      {{- .Title }}
    </h2>
    {{ .Content }}
  </div>

  {{ partial "atomic-list.html" . }}
  
  {{ if eq .Params.modal true }}
  <script src="/js/modal.js"></script>
  {{ partial "saratoga/modal.html" (dict "type" "main") }}
  {{ partial "saratoga/modal.html" (dict "type" "bottom") }}
  {{ end }}
</div>
{{ end }}
