{{ define "head" }}
<link rel="stylesheet" href="/css/templates.css">
<script src="/js/modal.js"></script>
{{ end }}

{{ define "content" }}
<div class="paper">
  <div class="story-template">
    <article class="story-body">
      {{ .Content }}
    </article>

    <aside class="story-rail">
      <div class="ad-widget">
        <div style="width: 300px; height: 600px; background-color: #ddd;"></div>
      </div>

      <div class="video-right-rail-organism">
        {{ partial "saratoga/card.html" }}
        {{ partial "saratoga/card.html" }}
      </div>

      <div class="ad-widget">
        <div style="width: 300px; height: 250px; background-color: #ddd;"></div>
      </div>

      {{ partial "saratoga/digest.html" }}

      <div class="ad-widget">
        <div style="width: 300px; height: 250px;"></div>
      </div>

      <div class="package">
        <h3 class="bold sans">MODAL TEST BUTTONS</h3>
        <p class="summary">This module is not part of the design, and is only here to test modal functionality.</p>
        <button class="ghost" onclick="toggleModal('main-modal')">show main modal</button>
        <button class="ghost" onclick="toggleModal('bottom-modal')">show bottom modal</button>
      </div>
    </aside>
  </div>
</div>

<section>
  {{ partial "saratoga/read-next.html" }}
</section>

<section>
  {{ partial "saratoga/in-depth.html" }}
</section>

<section>
  {{ partial "saratoga/promo.html" }}
</section>

{{ partial "saratoga/modal.html" (dict "type" "main") }}
{{ partial "saratoga/modal.html" (dict "type" "bottom") }}
{{ end }}
