/**
 * Molecules: Saratoga design system
 */

/** Paper */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.paper > .card {
  box-shadow: none;
}

/** Cards */

.card {
  display: flex;
  flex-direction: column;
}

.card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-info > * {
  margin: 10px 0 0 0;
}

.card-info > :first-child {
  margin-top: 0;
}

.card-info > time {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.card-info a {
  color: inherit;
}

/** Reverse impact */

.impact {
  background-color: #373737;
  color: white;
}

.impact * {
  color: white;
  border-color: white;
}

.impact .card {
  background-color: transparent;
  box-shadow: none;
}

.impact .label > * {
  background-color: white;
  color: #222;
}

/** Ad */

.ad {
  justify-self: center;
  background-color: #ddd;
}
