.story-body .related-series {
  --tc: white;
  --lc: white;
  max-width: 100%;
  background-color: #373737;
  padding: 30px 15px;
  display: block;
}

.related-series hr,
.related-series .kicker {
  display: none;
}
