/**
 * Generic CSS grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

/**
 * Flexbox grid
 */

.flex-columns > * {
  margin: 30px 0;
}

@media (min-width: 690px) {
  .flex-columns {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .flex-columns.reverse {
    flex-direction: row-reverse;
  }

  .flex-columns > * {
    flex: 1 1 300px;
    margin: 15px;
  }

  .flex-columns > .flex-columns {
    margin: 0;
  }

  .flex-columns .main-stage {
    flex: 2 1 660px;
    align-self: flex-start;
  }

  .flex-columns .rail {
    flex-basis: 330px;
    align-self: flex-start;
  }

	/** Special cases **/
	.lead-section .main-stage > :first-child {
		flex-basis: 100%;
	}

	.main-stage > .flex-columns + .flex-columns {
		padding-top: 15px;
	}
}

/**
 * Simple Flexbox row
 *
 * We are using this combo more and it makes sense to 
 * pull them out into their own reusables. I will 
 * incorporate into the rest of the elements as we
 * re-work them.
 */

.flex {
  display: flex;
  align-items: center;
}

.icons > * {
  padding: 15px;
}

/* To fix our strange line heights */
.icon-label {
  position: relative;
  top: .15em;
  margin-left: 10px;
}

/**
 * Immersive media card
 * Note: this could be made smaller with custom properties later
 */

.immersive {
  margin-top: 0;
}

.immersive .media {
	display: flex;
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.immersive .content {
  background: rgba(0,0,0,.5);
	flex: 1;
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
	padding-bottom: 30px;
  --bbc: transparent;
}

.immersive .content > * {
  max-width: 920px;
  margin: 15px auto;
	padding: 0 15px;
}

.immersive .content button {
  padding: 0;
	height: 60px;
	width: 60px;
}

.immersive .title {
	font: 600 40px/1.2em "McClatchy Serif", serif;
	text-transform: none;
}

.immersive-summary {
  font-size: 20px;
}

@media (min-width: 760px) {
	.immersive .title {
		font-size: 64px;
	}
}

/**
 * Story body
 */

.story-body {
  --hf: "McClatchy Sans", sans-serif;
  --hw: 600;
  --ht: uppercase;
  --lc: #5169B8;
  --lhc: #31409F;
  --ld: underline;
  --lhd: underline;
}

.story-body > * {
  max-width: 720px;
	padding: 0 15px;
	margin-right: auto;
  margin-left: auto;
	box-sizing: content-box;
}

.story-body > figure {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

.story-body img, 
.story-body figcaption {
	max-width: 1140px;
	margin: 0 auto;
}

.story-body .story-module,
.story-body .embed-infographic {
  padding: 0 15px;
  margin: 30px auto;
}

.story-body .ad-widget {
  margin: 50px auto;
}

.story-body > :last-child {
	margin-bottom: 0;
}

.story-body .dateline {
	display: block;
}

/**
 * Header package
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	padding: 15px;
}

.header > * {
	margin: 15px 0 0;
}

@media (min-width: 600px) {
	.header .bio {
		display: flex;
    align-items: center;
		justify-content: space-between;
		width: 100%;
		text-align: left;
	}
}

/**
 * Series nav
 */

.series-nav {
	--hf: "McClatchy Serif", serif;
	--hw: 400;
	--ht: none;
  --lc: #222;
  --lhc: #222;
}

.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: #dfdfdf;
}

.series-nav .summary {
  color: #707070;
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

/** Unnecessary in 1.12 */
.series-nav .article img {
  padding: 0;
}

.series-nav .article h4 {
  flex: 1;
  padding: 0 15px;
  margin: 0;
  max-width: 375px;
}

/**
 * Related stories
 */

.related-stories {
  --lc: #222;
  --lhc: #222;
}

.related-stories .package {
  padding: 0;
}

/**
 * Author card
 */

.author-card,
.author-card .package {
  padding: 0;
}

.author-card .thumb {
  max-width: 80px;
}

.author-card .thumb img {
  max-width: 100%;
  border-radius: 50%;
}

.author-card .social-media a {
  margin: 10px 15px 10px 0;
}

/**
 * Following 2 can be removed with flag release
 */

.author-card .flex {
  display: flex;
  align-items: center;
  width: auto;
}

.author-card .icon-label {
  position: relative;
  top: .15em;
  margin-left: 10px;
}

/* Author Bio version */

.author-bio {
  padding: 0 15px;
}

@media (min-width: 600px) {
  .author-bio {
    padding: 0;
  }
}

.author-bio .thumb {
  max-width: 160px;
}

/* Grid takeover */

@supports(display: grid) {

  /** Inline version */

  .author-card {
    display: grid;
    align-items: center;
    grid-gap: 10px 15px;
    grid-template-columns: 80px 1fr;
  }

  .author-card > * {
    margin-top: 0;
  }

  .author-card .flex {
    flex-wrap: wrap;
  }

  .author-card .byline {
    flex: 1 1 300px;
    margin: 0 30px 0 0;
  }

  .author-card .summary,
  .author-bio .a-social {
    grid-column: span 2;
  }

  /** Bio version */

  .author-bio .package {
    margin-top: 0;
  }

  .author-bio .thumb {
    grid-row: 1;
  }

  @media (min-width: 769px) {
    .author-bio {
      grid-template-columns: 160px 3fr 2fr;
    }

    .author-bio .thumb {
      grid-row: span 2;
    }

    .author-bio .a-details {
      align-self: flex-end;
    }

    .author-bio .a-social {
      grid-column: 3;
      grid-row: 2;
      align-self: flex-start;
      justify-self: flex-end;
    }

    .author-bio .summary {
      grid-column: 2;
      align-self: flex-start;
    }
  }
}

/* Subscription callout */

.author-sub {
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #707070;
}

.author-sub .callout {
  font: 14px/20px "McClatchy Sans",sans-serif;
  color: #31409F;
}

.author-sub .more-link {
  padding: 0;
}


/**
 * Timeline
 */

.timeline-event {
	border-left: 1px solid #707070;
	max-width: 500px;
  --hf: "McClatchy Sans", sans-serif;
  --hw: 600;
  --ht: uppercase;
}

.timeline-event:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	background-color: #707070;
	border: 4px solid white;
	border-radius: 50%;
	transform: translate(-9.5px, 12px);
}

/**
 * Transparency
 */

.transparency {
	max-width: 100%;
	padding: 15px;
	background-color: #f4f4f4;
}

.transparency > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

.transparency .expander {
	justify-content: space-between;
}

.question {
	padding-top: 15px;
	--hf: "McClatchy Serif", serif;
	--hw: 400;
	--ht: none;
}

/**
 * Big News
 * Note: we need something for labels "outside the grid" but
 * need to "line up with the grid".
 */

.big-news {
  margin-top: 0;
}

.big-news a {
	color: inherit;
}

.big-news > * {
	max-width: 1140px;
	margin: 0 auto;
}

.big-news .latest {
  box-sizing: content-box;
	padding: 15px 15px 0;
}

.big-news .grid {
	max-width: 1170px;
	grid-gap: 0;
	grid-template-columns: repeat(3, 1fr);
	display: block;
}

.big-news .h1 {
	font-size: 40px;
	text-align: center;
}

.big-news > figure {
	max-width: 1280px;
}

.big-news img {
	max-width: 1140px;
	margin: 0 auto;
}

.big-news figcaption {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 15px 15px;
}

.big-news .featured {
	display: block;
}

@media (min-width: 680px) {
	.big-news .grid {
		display: grid;
	}

	.big-news h1 {
		font-size: 52px;
	}

	.big-news .featured .card {
		padding: 15px;
	}

	.big-news .featured .package {
		padding: 15px 0 0;
	}
}

/**
 * In Depth card
 */

.card.in-depth {
	flex-wrap: wrap;
}

.card.in-depth figure {
  flex-grow: 4;
	min-height: 400px;
	display: flex;
}

.card.in-depth .package {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	max-width: 660px;
}

/**
 * SWG Promo card
 */

.card.swg-promo {
	flex-wrap: wrap;
}

.card.swg-promo > :first-child {
	flex-grow: 4;
	min-height: 200px;
}

.card.swg-promo .title {
	font: 600 48px "McClatchy Sans", sans-serif;
}

/**
 * Read Next
 */

.read-next .package {
	width: 100%;
	max-width: 710px;
	margin: 0 auto;
  box-sizing: border-box;
}

.read-next .header {
	align-items: flex-start;
	text-align: left;
	padding: 0;
}

.read-next .header > :first-child {
	margin-top: 0;
}

.read-next .social-media {
	justify-content: flex-start;
}

.read-next .social-media > a:first-child {
	padding-left: 0;
}

.read-next .more-link {
	padding: 0;
}

/**
 * Modals
 */

.s-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 100px 15px 0;
	max-width: unset;
	overflow: auto;
	z-index: 9999;
	transform: translateZ(0);
	pointer-events: none;
}

.s-modal > * {
	position: relative;
	width: 100%;
	max-width: 710px;
	margin: 15px auto;
	pointer-events: auto;
}

.s-modal .package {
	padding: 30px 50px 30px 15px;
}

.s-modal .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	cursor: pointer;
}

.s-modal.screen {
	background-color: rgba(255,255,255,0.8);
	pointer-events: auto;
}

.s-modal[hidden] {
	display: none;
}

/** Bottom version */

.s-modal.bottom:not([hidden]) {
	display: flex;
	align-items: flex-end;
}

.s-modal.bottom > * {
	max-width: 1110px;
	position: relative;
}

.s-modal.bottom .package {
	max-width: 710px;
	margin: 0 auto;
}

/** Local news subscription (modal version) */

.modal-subscription {
	flex-wrap: wrap;
}

/** Newsletter signup (modal version) */

.modal-newsletter .grid {
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.modal-newsletter input, .modal-newsletter .button {
	padding: 1em 1em .7em;
	border-radius: 2px;
	border: none;
	color: #222;
	align-self: unset;
}

@media (min-width: 600px) {
	.modal-newsletter .grid {
		grid-template-columns: 3fr 1fr;
	}
}
