/**
 * Flag
 */

section.flag {
  position: relative;
  margin: 0;
  z-index: 10;
}

.flag .top {
  z-index: 2;
}

.flag .top > * {
  flex: 1;
}

.flag svg {
  height: 20px;
  cursor: pointer;
}

.flag .menu-label {
  margin-left: 10px;
  position: relative;
  top: 0.15em;
}

.flag .market-logo {
  flex: 2;
}

.market-logo img {
  display: block;
  height: 30px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flag .signin {
  justify-content: flex-end;
  padding: 0 15px;
}

.flag .d-tablet,
.flag .d-desktop {
  display: none;
}

@media (min-width: 769px) {
  .flag .d-mobile {
    display: none;
  }

  .flag .d-tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .flag .d-desktop {
    display: block;
  }
}

/**
 * Search form
 */

.flag .search {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 15px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity .6s, transform .6s ease;
  z-index: 1;
}

.flag.open .top {
  box-shadow: none;
}

.flag.open .search {
  opacity: 1;
  transform: translateY(0);
}

.search input {
  flex: 1;
  max-width: 660px;
  margin-right: 15px;
}

/**
 * Account popout
 */

.flag .account {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.account .expander {
  padding: 15px;
}

.account .popout {
  position: absolute;
  top: 100%;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.account .popout a {
  display: block;
  padding: 15px;
}

.account .popout a:hover {
  background-color: #ddd;
}

/**
 * Footer
 */

.footer {
  margin: 0 auto;
  padding: 15px 0;
}

.footer-connect {
  --hf: "McClatchy Sans", sans-serif;
  --hw: 500;
}

.footer-connect > * {
  margin-top: 20px;
}

.footer-connect .summary {
  max-width: 340px;
}

.footer-row {
  display: flex;
  align-items: center;
}

.footer svg,
.footer-icon-wrapper {
  height: 30px;
  margin-right: 10px;
}

.footer-icon-wrapper {
  width: 30px;
  background-color: white;
  border-radius: 20%;
}

.footer-icon-wrapper img {
  display: block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: relative;
  top: 2px;
  left: 2px;
}

.footer .social svg {
  height: 35px;
  margin-right: 20px;
}

.footer .more-link {
  margin: 0;
  position: relative;
  top: .2em;
}

.footer-links a {
  font: 14px "McClatchy Sans";
}

.bottom-nav {
  margin: 22.5px auto;
}

.bottom-nav a {
  display: block;
  padding: 7.5px 15px;
}

@media (min-width: 600px) {
  .footer-links {
    display: flex;
    flex: 1;
  }

  .bottom-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .bottom-nav a {
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    padding: 30px 0;
    max-width: 1170px; /* wider for .package kids */
  }
}

/**
 * Ads for both
 */

.ad-widget {
  text-align: center;
}

.ad-widget iframe, 
.ad-widget .iframe {
  display: block;
  margin: 0 auto;
}

/**
 * Story template
 */

.story-template {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

/* Body (rail version) */

.story-body {
  position: relative;
  flex: 1 1 438px;
}

/* HTML needs to be scrubbed for the next three declarations */

.story-body > .lead-item,
.story-body > .ng_digital,
.story-body > .inline-video {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

.story-body .embed-media-details {
  padding: 10px 15px 0;
}

.story-body .media-leadtext,
.story-body .mi-video-bylines {
  font: 14px/1.5em "McClatchy Sans", sans-serif;
  color: #707070;
  margin: 0;
  display: inline-block;
  padding-right: 0.5em;
}

/* Rail */

.story-rail {
  position: relative;
  flex: 1 1 330px;
}

.story-rail > * {
  margin: 30px 0;
}

.story-rail .paper, .story-rail .card {
  box-shadow: none;
}

.story-rail .more-link {
  padding: 0 15px;
  margin-top: 0;
}

/** Several variants of inline assets could be cleaned */
@media (min-width: 768px) {
  /* Test to fix Google partnered content iframe */
  /* .story-body { */
  /*   max-width: calc(100vw - 330px); */
  /* } */

  .story-template figure img, 
  .story-body .lead-item .video,
  .story-body .lead-item .picture,
  .story-body .ng_digital img,
  .story-rail .media-wrap {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .story-rail {
    flex-grow: 0;
  }

  .story-body .transparency {
    margin: 0 15px;
  }
}

/**
 * Purple Tuesdays
 */

section > h5:first-child {
  margin-bottom: 15px;
}

/* Because the main section body is still wrapped by Bootstrap */
.big-news > * {
  max-width: 1110px;
}

.big-news .grid {
  max-width: 1140px;
}

/** 
 * Overloads for older elements 
 * Unclean repeat of media breakpoint, but these are separate
 * from the core base template code.
 */

.breaking-news-macro .breaking-title {
  font-weight: 700;
}

@media (min-width: 690px) {
  .breaking-news-macro {
    margin: 0 15px;
  }
}

.wps-footer2018 .panels h6 {
  font-size: 16px;
}

.newsletter-inline-macro {
  padding-top: 0;
  padding-bottom: 0;
}

#newletter-inline-title {
  padding-top: 0;
}

.inline-cta {
  text-align: left;
}

.header .blog-branding .teaser .title {
  text-transform: none;
  font-size: 22px;
  font-weight: 400;
}

section[role="main"] {
  overflow: hidden;
}

/** Remove when footer work */

.content-footer {
  --lhc: white;
}

.comments-toggle {
  --lhc: #222;
  --ld: none;
  --lhd: none;
}
