.swatch {
  padding: 0;
  flex-direction: row;
  align-items: center;
}

.swatch path {
  stroke: black;
}

.swatch p {
  margin: 0;
  padding: 15px;
}

.logos > .package {
  justify-content: space-evenly;
}

.download {
  display: block;
  width: 100%;
}

.market-info {
  padding: 0;
}

.market-url {
  display: block;
  font-size: 12px;
}

.story-module {
  margin: 0 auto !important;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

.story-module > :first-child {
  margin-top: 0;
}

.grid.logos {
  margin: 30px 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* fixed in zones branch but rebased onto master to release this earlier */
.story-module .grid .package {
  padding: 0;
}

.grid.app-icons {
  grid-template-columns: repeat(auto-fill, 75px);
}

.app-name {
  /* text-transform: capitalize; */
  font-size: 10px;
  text-align: center;
  align-self: center;
}
