/**
 * Molecules: Saratoga design system
 */

/** Paper */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.paper .card {
  box-shadow: none;
}

/** Cards */

.card {
  display: flex;
  flex-direction: column;
}

.card.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.card.horizontal figure {
  position: relative;
  flex: 1 1 300px;
}

.card.horizontal .package {
  justify-content: center;
  flex: 4 1 300px;
}

.card.horizontal .package time {
  flex: none;
}

/** Package */

.package {
	--headerFamily: "McClatchy Serif", serif;
	--headerWeight: 400;
	--headerTransform: none;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.package > * {
  margin: 10px 0 0 0;
}

.package > :first-child {
  margin-top: 0;
}

.package > time {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.package a {
  color: inherit;
}

/** Reverse impact */

.impact {
  background-color: #373737;
  color: white;
}

a.impact {
  color: white;
}

.impact * {
  color: white;
  border-color: white;
}

.impact .card {
  background-color: transparent;
  box-shadow: none;
}

.impact .label > * {
  background-color: white;
  color: #222;
}

/** Ad */

.ad {
  justify-self: center;
}

/** Social media */

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  padding: 15px;
}

.social-media svg {
  height: 20px;
  width: 20px;
}

/** Expander */

.expander {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expander:after {
  content: url(./icons/caret-expander.svg);
  width: 14px;
  margin-left: 5px;
  transition: transform .5s ease;
  transform: translateY(-.1em) rotateX(180deg);
  transform-origin: 50% 50%;
}

.expander ~ * {
  display: none;
}

.expander.open:after {
  transform: translateY(-.1em) rotateX(0);
}

.expander.open ~ * {
  display: block;
}
