/**
 * Molecules: Saratoga design system
 */

/** Paper */

.paper, .card {
  position: relative;
  background-color: white;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.paper .paper, 
.paper .card, 
.card .paper, 
.card .card {
  box-shadow: none;
}

/** Cards */

.card {
  display: flex;
  flex-direction: column;
}

.card.horizontal {
  flex-direction: row;
}

.card.horizontal > * {
  flex: 1 1 300px;
}

.card.horizontal figure {
  position: relative;
}

.card.horizontal figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.card.horizontal .package {
  justify-content: center;
  box-sizing: border-box;
}

.card.horizontal .package time {
  flex: none;
}

/** Package */

.package {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: flex-start;
	--hf: "McClatchy Serif", serif;
	--hw: 400;
	--ht: none;
  --ld: none;
  --lhd: underline;
}

.package > * {
  margin: 10px 0 0 0;
}

.package > :first-child {
  margin-top: 0;
}

.package > time {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.package.no-img .h3 {
  font-size: 28px;
}

.package.marketing > :not(:first-child) {
  margin-top: 20px;
}

/** Reverse impact and promo */

.impact,
.promo {
  background-color: #373737;
  color: white;
  --tc: white;
  --lc: white;
  --lhc: white;
  --bc: #222;
  --bbc: white;
}

.promo {
  background-color: #31409F;
  --bc: #31409F;
}

.impact *,
.promo * {
  border-color: white;
  fill: white;
}

/** Social media */

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  padding: 15px;
  /* following 2 lines will be deprecated in 1.12 */
  height: 20px;
  width: 20px;
}

.social-media svg {
  height: 20px;
  width: 20px;
}

/** Expander */

.expander {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expander:after {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDEuNSAyODQuNCI+PHBhdGggZD0iTTQ2Ny43LDI4NC40SDMzLjdjLTMwLDAtNDUtMzYuMy0yMy43LTU3LjVMMjI2LjksOS45YTMzLjgsMzMuOCwwLDAsMSw0Ny44LDBsMjE3LDIxN2MyMSwyMS4yLDYsNTcuNS0yNCw1Ny41WiIvPjwvc3ZnPgo=');
  width: 14px;
  margin-left: 5px;
  transition: transform .5s ease;
  transform: translateY(-.1em) rotateX(180deg);
  transform-origin: 50% 50%;
}

.expander ~ * {
  display: none;
}

.expander.open:after {
  transform: translateY(-.1em) rotateX(0);
}

.expander.open ~ * {
  display: block;
}

/** Utilities */

summary, .summary {
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

.small {
  font: 400 11px/1.5em "McClatchy Sans", sans-serif;
}

.caps {
  text-transform: uppercase;
  --ht: uppercase;
}

.sans {
  font-family: "McClatchy Sans", sans-serif;
  --hf: "McClatchy Sans", sans-serif;
}

.serif {
  font-family: "McClatchy Serif", serif;
  --hf: "McClatchy Serif", serif;
}

.soft {
  font-weight: 400;
  --hw: 400;
}

.bold {
  font-weight: 600;
  --hw: 600;
}

.gray {
  color: #707070;
}

.error {
  color: #D63031;
}

.underline {
  text-decoration: underline;
}

.no-shadow {
  box-shadow: none;
}

.relative {
  position: relative;
}

.hidden, [hidden] {
  display: none;
}
