/**
 * Nav
 */

.banner {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .logo {
  fill: #ddd;
  height: 150px;
  width: 150px;
  padding: 15px;
}

.banner nav {
  display: flex;
}

.banner a {
  font: 600 14px/1.2em "McClatchy Sans", sans-serif;
  padding: 13px 15px;
  text-transform: uppercase;
}

.banner a span {
  padding: 2px 0;
}

.banner a.active span {
  border-bottom: 2px solid #333;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
}

/**
 * Hero
 */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background-image: url("../img/team-process.jpg");
  background-position: cover;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.hero svg {
  height: 360px;
  overflow: visible;
}

/**
 * Grid
 */

section {
  margin: 50px auto;
  max-width: 540px;
}

.grid-label {
  margin: 15px auto;
  padding: 0 15px;
}

.grid > * {
  margin-bottom: 30px;
}

@supports(display: grid) {
  section {
    max-width: 1140px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }

  .grid > * {
    margin-bottom: 0;
  }

  @media(min-width: 540px) {
    .grid {
      padding: 0 15px;
    }
  }
}

/**
 * Medium art
 */

.medium-art {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.medium-art img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * Bio differences
 */

.bio * {
  font-family: "McClatchy Sans", sans-serif;
}

.bio h4 {
  font-weight: bold;
}

.bio p {
  font-size: 14px;
}

/**
 * Footer
 */

footer {
  background-color: #373737;
  min-height: 20px;
}
