/**
 * Nav
 */

.mast {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.13);
}

.mast > * {
  padding-left: 15px;
}
