/*
 * Style guide native defaults
 */

pre {
  overflow-x: scroll;
  padding-bottom: 20px;
}

small {
  font-size: 14px;
}

table {
  width: 100%;
  max-width: 750px !important;
  text-align: left;
  font-size: 14px;
  border-spacing: 0;
  font-family: "McClatchy Sans", sans-serif;
  box-sizing: content-box;
}

td {
  padding: 5px 0;
}

th {
  font-size: .8em;
  padding-bottom: 8px;
}

td:first-child {
  font-weight: bold;
  width: 150px;
}

/*
 * Style guide main rules.
 */

.example {
  max-width: 1140px;
  padding: 15px;
  background-color: #f4f4f4;
}

.list-category {
  padding: 15px 0 .2em;
  margin: 0 15px 0;
  border-bottom: 1px solid #707070;
  font-family: "McClatchy Sans";
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
}

.updated {
  display: block;
  font-size: 11px;
  color: #377f6a;
}

.list {
  position: relative;
  background-color: #f4f4f4;
  z-index: 1;
}

.details {
  position: relative;
  z-index: 2;
}

@media (min-width: 769px) {
  .panels {
    position: relative;
    height: calc(100vh - 94px);
    display: flex;
  }

  .panels > * {
    flex: 1;
    overflow: scroll;
  }

  .list {
    max-width: 400px;
    order: 1;
  }

  .details {
    order: 2;
  }
}

.page-header {
  margin-top: 0;
  padding-top: 30px;
}

/**
 * Phone view
 */

.phone {
  width: 375px;
  margin: 0 auto;
}
