/*
 * Style guide native defaults
 */

pre {
  overflow-x: scroll;
}

small {
  font-size: 14px;
}

table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  border-spacing: 0;
  font-family: "McClatchy Sans", sans-serif;
}

td {
  padding: 5px 0;
}

th {
  font-size: .8em;
  padding-bottom: 8px;
}

td:first-child {
  font-weight: bold;
  width: 150px;
}

/*
 * Style guide main rules.
 */

.underline {
  padding-bottom: .2em;
  border-bottom: 1px solid #989898;
}

.list {
  position: relative;
  background-color: #f4f4f4;
  z-index: 1;
}

.list .card-info {
  padding: 15px 0;
}

.details {
  position: relative;
  z-index: 2;
}

@media (min-width: 769px) {
  .panels {
    position: relative;
    height: calc(100vh - 90px);
    display: flex;
  }

  .panels > * {
    flex: 1;
    overflow: scroll;
  }

  .list {
    max-width: 400px;
    order: 1;
  }

  .details {
    order: 2;
  }
}

