/**
 * Atom enhancments
 */

p {
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

.disclaimer {
  display: block;
  font: 400 13px/1.5em "McClatchy Sans", sans-serif;
  color: #707070;
}

.blue {
  color: #0066b3;
}

button, .button {
  min-width: 250px;
}

.small {
  margin-bottom: 0;
}

/**
 * Molecule enhancements
 */

.package.roomy > * {
  margin: 30px 0 0 0;
}

.package.roomy > :first-child {
  margin-top: 0;
}

/**
 * Top navigation
 */

.contact {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
}

/**
 * Generic columns
 */

.columns {
  display: grid;
  grid-gap: 15px;
}

.columns.two {
  grid-template-columns: repeat(2, 1fr);
}

.columns.three {
  grid-template-columns: repeat(3, 1fr);
}

.columns.four {
  grid-template-columns: repeat(4, 1fr);
}

.span-2 {
  grid-column: span 2;
}

/**
 * Icons
 */

.icon {
  display: flex;
  align-items: center;
}

button.icon, .button.icon {
  justify-content: center;
}

.icon:before {
  padding-right: 10px;
}

.icon.facebook:before {
  content: url(./icons/facebook-f.svg);
  width: .515625em;
}

.icon.google:before {
  content: url(./icons/google.svg);
  width: .953125em;
}

.icon.paypal:before {
  content: url(./icons/paypal.svg);
  width: .75em;
}

.icon.apple:before {
  content: url(./icons/apple-pay.svg);
  width: 1.25em;
}

.icon.visa:before {
  content: url(./icons/cc-visa.svg);
  width: 1.75em;
}

/**
 * Form elements
 */

label {
  display: block;
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 10px;
  font-size: 18px;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label {
  background: url('./icons/square.svg') top left / 16px no-repeat;
  padding-left: 25px;
  min-height: 16px;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background-image: url('./icons/check-square.svg');
}

input[type=radio] + label {
  background: url('./icons/outline-circle.svg') center left / 16px no-repeat;
  padding-left: 25px;
  min-height: 16px;
  cursor: pointer;
}

input[type=radio]:checked + label {
  background-image: url('./icons/dot-circle.svg');
}

/** 
 * Saved cards
 */

input[type=radio] + .saved-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-position: 0px 3px;
}
