/**
 * Atom enhancments
 */

p, li {
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

ul {
  padding-left: 0;
}

.disclaimer {
  display: block;
  font: 400 13px/1.5em "McClatchy Sans", sans-serif;
  color: #707070;
}

.blue, .package .blue {
  color: #0066b3;
}

button, .button {
  min-width: 250px;
}

.more-link {
  padding: 0 15px;
}

/**
 * Molecule enhancements
 */

.package li:first-child {
  margin-top: 0;
}

.expander.stretch {
  justify-content: space-between;
}

/**
 * Top navigation
 */

.contact {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
}

/**
 * Columns and grids
 */

.grid {
  grid-template-columns: 1fr;
}

.package .grid {
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.columns {
  display: grid;
  grid-gap: 15px;
}

.columns.two {
  grid-template-columns: repeat(2, 1fr);
}

.columns.four {
  grid-template-columns: repeat(4, 1fr);
}

.span-2 {
  grid-column: span 2;
}

/* Custom grid for this page */

@media (min-width: 545px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .columns {
    grid-column: span 2;
  }
}

/**
 * Icons
 */

.icon {
  display: flex;
  align-items: center;
}

button.icon, .button.icon {
  justify-content: center;
}

.icon:before {
  padding-right: 10px;
}

.icon.facebook:before {
  content: url(./icons/facebook-f.svg);
  width: .515625em;
}

.icon.google:before {
  content: url(./icons/google.svg);
  width: .953125em;
}

.icon.paypal:before {
  content: url(./icons/paypal.svg);
  width: .75em;
}

.icon.apple:before {
  content: url(./icons/apple-pay.svg);
  width: 1.25em;
  transform: scale(1.7);
  transform-origin: 50% 30%;
}

.icon.visa:before {
  content: url(./icons/cc-visa.svg);
  width: 1.75em;
}

/**
 * Form elements
 */

.input .small {
  visibility: hidden;
  min-height: 1em;
  margin-bottom: 0;
}

.input .small.show {
  visibility: visible;
}

label {
  display: block;
  font: 400 14px/1.5em "McClatchy Sans", sans-serif;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 10px;
  font-size: 18px;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label, input[type=radio] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type=checkbox] + label:before {
  content: url('./icons/square.svg');
  width: 16px;
  margin-right: 10px;
}

input[type=checkbox]:checked + label:before {
  content: url('./icons/check-square.svg');
}

input[type=radio] + label:before {
  content: url('./icons/outline-circle.svg');
  width: 16px;
  margin-right: 10px;
}

input[type=radio]:checked + label:before {
  content: url('./icons/dot-circle.svg');
}

/** 
 * Saved cards
 */

input[type=checkbox] + .saved-card {
  justify-content: space-between;
  max-width: 250px;
}

input[type=checkbox] + .saved-card:before {
  order: 3;
  content: '';
  margin-right: 0;
}

input[type=checkbox]:checked + .saved-card {
  background-color: #0066b3;
  color: white;
}

input[type=checkbox]:checked + .saved-card:before {
  content: url('./icons/check-circle.svg');
  filter: invert(1);
}

input[type=checkbox]:checked + .saved-card .icon:before {
  filter: invert(1);
}

/**
 * Subscriptions template
 */

.subscriptions {
  max-width: 1140px;
  margin: 0 auto;
}

.offer {
  margin-bottom: 30px;
}

@media (min-width: 890px) {
  .subscriptions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding: 0 15px;
  }

  .offer {
    order: 2;
  }

  .forms {
    order: 1;
  }
}

/**
 * Subscription progress
 */

.sub-progress {
  display: block;
  margin: 15px auto;
}

.sub-progress .check {
  display: none;
}

.sub-progress.signup .signup .circle {
  fill: #222;
  stroke: none;
}
