/**
 * Ads for both
 */

.ad-widget {
  display: flex;
  justify-content: center;
}

.ad-widget.center-ad {
  align-items: center;
}

/**
 * Story template
 */

.story-template {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

/* Body */

.story-body {
  flex: 1 1 400px;
}

.story-body > .lead-item,
.story-body > .ng_digital,
.story-body > .inline-video {
	max-width: 100%;
	margin: 30px 0;
	padding: 0;
}

/** Inline Video code that doesn't match the pattern */
.story-body .embed-media-details {
  padding: 10px 15px 0;
}

.story-body .media-leadtext,
.story-body .mi-video-bylines {
  font: 14px/1.5em "McClatchy Sans", sans-serif;
  color: #707070;
  margin: 0;
  display: inline-block;
  padding-right: 0.5em;
}

/* Rail */

.story-rail {
  flex: 1 1 330px;
}

.story-rail > * {
  margin: 30px 0;
}

.story-rail .paper, .story-rail .card {
  box-shadow: none;
}

.story-rail .more-link {
  padding: 0 15px;
  margin-top: 0;
}

/** Several variants of inline assets could be cleaned */
@media (min-width: 730px) {
  .story-template figure img, 
  .story-body .lead-item .video,
  .story-body .lead-item .picture,
  .story-body .ng_digital img,
  .story-rail .media-wrap {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .story-rail {
    flex-grow: 0;
  }
}

/** 
 * Overloads for older elements 
 * Unclean repeat of media breakpoint, but these are separate
 * from the core base template code.
 */

@media (min-width: 690px) {
  .breaking-news-macro {
    margin: 0 15px;
  }
}
