/**
 * Form elements
 */

input, select {
  border: 1px solid #373737;
  padding: 10px;
  font-size: 14px;
}

input[type=text] {
  -webkit-appearance: none;
}

button, .button {
  color: var(--bc);
  background-color: var(--bbc);
  border: 1px solid transparent;
}

button:hover, 
.button:hover {
  color: var(--bc);
}

.button {
  display: inline-block;
  align-self: flex-start;
  font: 600 14px "McClatchy Sans";
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: .6em 1em .3em;
  box-sizing: border-box;
  border-radius: 2px;
  --ld: none;
  --lhd: none;
}

.button.stretch {
  display: block;
  align-self: stretch;
  padding: 1em 1em .7em;
}

.button.big {
  padding: 11px 35px 7px;
}

.button.ghost {
  border-color: #4a4a4a;
}

.button.pill {
  border-radius: 1.5em;
}

/**
 * Custom selects 
 * This utilizes expander and buttons
 * */

.select {
  background-color: white;
  border: 1px solid #ddd;
  position: relative;
}

.select .button {
  border: none;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  text-transform: none;
  font-weight: 400;
  text-align: left;
}

.select .options {
  border: 1px solid #ddd;
}

.select .options .button {
  align-self: stretch;
}

.select .options .selected {
  font-weight: 600;
}

.select .expander.open {
  border-bottom-color: transparent;
}

.select .expander.open ~ .options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: -1px;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  width: 100%;
  z-index: 100;
}
