{{ define "head" }}
<link rel="stylesheet" href="/css/style-guide.css">
<link rel="stylesheet" href="/css/ad-sizes.css">
{{ end }}

{{ define "content" }}
<div class="panels">
  <div class="paper story-body details">
    {{ .Content }}
  </div>

  {{ $cp := . }}
  <div class="paper digest list">
    <div class="email">
      <div class="label">
        <h5>AD CATEGORIES</h5>
      </div>
      <div class="package">
        <h4 class="sans bold">
          <a href="#ros">Display/ROS ads</a>
        </h4>
        <p class="summary">Measured in pixels. For display on websites, apps, and digital mediums.</p>
      </div>
      <div class="package">
        <h4 class="sans bold">
          <a href="#social">Social</a>
        </h4>
        <p class="summary">Measured in pixels. Displays only on social media platforms.</p>
      </div>
      <div class="package">
        <h4 class="sans bold">
          <a href="#email">Email Images</a>
        </h4>
        <p class="summary">Measured in pixels. Displays in email clients.</p>
      </div>
      <div class="package">
        <h4 class="sans bold">
          <a href="#print">Print Assets</a>
        </h4>
        <p class="summary">Measured in inches. Resolution output should be 200 dpi.</p>
      </div>
      <div class="package">
        <h4 class="sans bold">
          <a href="#outside">Outside Printers</a>
        </h4>
        <p class="summary">Measured in inches. 300 dpi, unless otherwise noted.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
