<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/fonts.css">

    <!-- atoms -->
    <link rel="stylesheet" href="/css/atoms/typography.css">
    <link rel="stylesheet" href="/css/atoms/media.css">
    <link rel="stylesheet" href="/css/atoms/section.css">
    <link rel="stylesheet" href="/css/atoms/button.css">

    <!-- molecules -->
    <link rel="stylesheet" href="/css/molecules/paper.css">
    <link rel="stylesheet" href="/css/molecules/package.css">
    <link rel="stylesheet" href="/css/molecules/impact.css">
    <link rel="stylesheet" href="/css/molecules/social-media.css">
    <link rel="stylesheet" href="/css/molecules/expander.css">
    <link rel="stylesheet" href="/css/molecules/utilities.css">

    <!-- cards -->
    <link rel="stylesheet" href="/css/cards/grid.css">
    <link rel="stylesheet" href="/css/cards/flex-columns.css">
    <link rel="stylesheet" href="/css/cards/flex-row.css">
    <link rel="stylesheet" href="/css/cards/digest.css">
    <link rel="stylesheet" href="/css/cards/immersive.css">
    <link rel="stylesheet" href="/css/cards/story-body.css">
    <link rel="stylesheet" href="/css/cards/header.css">
    <link rel="stylesheet" href="/css/cards/series-nav.css">
    <link rel="stylesheet" href="/css/cards/related-stories.css">
    <link rel="stylesheet" href="/css/cards/author-card.css">
    <link rel="stylesheet" href="/css/cards/author-bio.css">
    <link rel="stylesheet" href="/css/cards/timeline.css">
    <link rel="stylesheet" href="/css/cards/transparency.css">
    <link rel="stylesheet" href="/css/cards/big-news.css">
    <link rel="stylesheet" href="/css/cards/in-depth.css">
    <link rel="stylesheet" href="/css/cards/swg-promo.css">
    <link rel="stylesheet" href="/css/cards/read-next.css">

    <!-- decks -->
    <link rel="stylesheet" href="/css/decks/display-classes.css">
    <link rel="stylesheet" href="/css/decks/flag.css">
    <link rel="stylesheet" href="/css/decks/footer.css">
    <link rel="stylesheet" href="/css/decks/menu.css">
    <link rel="stylesheet" href="/css/decks/ad-widget.css">
    <link rel="stylesheet" href="/css/decks/story-template.css">
    <link rel="stylesheet" href="/css/decks/eedition-portal.css">
    <link rel="stylesheet" href="/css/decks/purple-tuesdays.css">

    <!-- <link rel="stylesheet" href="/css/atoms.css"> -->
    <!-- <link rel="stylesheet" href="/css/molecules.css"> -->
    <!-- <link rel="stylesheet" href="/css/cards.css"> -->

    <!-- This site overload -->
    <link rel="stylesheet" href="/css/site.css">
    {{- block "head" . }}{{ end }}
  </head>

  <body class="{{ .Type }}">
    <div class="banner paper">
      <a href="/" style="padding: 0;"><img class="logo" src="/img/banner-logo.2.svg"></a>
      <nav>
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
        {{- $matches := findRE .URL $currentPage.Permalink }}
        <a href="{{ .URL | absURL }}" class="{{ if gt (len $matches) 0 }}active{{ end }}">
          <span>{{ .Name }}</span>
        </a>
        {{- end }}
      </nav>
    </div>

    {{- block "content" . }}
    {{ .Content }}
    {{ end }}
  </body>
</html>
