<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/css/fonts/fonts.css">
    <link rel="stylesheet" href="/css/saratoga/atoms.css">
    <link rel="stylesheet" href="/css/saratoga/molecules.css">
    <link rel="stylesheet" href="/css/site.css">
    {{- block "stylesheets" . }}{{ end }}
  </head>

  <body class="{{ .Type }}">
    <div class="banner paper">
      <img class="logo" src="/img/banner-logo.2.svg">
      <nav>
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
        <a href="{{ .URL | absURL }}" class="{{ if eq $currentPage.URL .URL }}active{{ end }}">
          <span>{{ .Name }}</span>
        </a>
        {{- end }}
      </nav>
    </div>

    {{- block "content" . }}{{ end }}

    <footer></footer>
  </body>
</html>
