{{ define "head" }}
<style>
  .download {
    display: block;
    width: 100%;
  }

  .swatch {
    flex-direction: row;
    align-items: center;
  }

  .story-module {
    margin: 0 auto !important;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
  }

  .story-module > :first-child {
    margin-top: 0;
  }

  .swatch p {
    margin: 0;
    padding: 15px;
  }

  a[download]:hover img {
    background-color: #f4f4f4;
  }
</style>
{{ end }}

{{ define "content" }}
<article class="paper story-body" style="padding: 15px 0;">
  <h2>{{ .Title }}</h2>
  {{ .Content }}

  {{ range $.Site.Data.markets }}
  <div class="story-module">
    <h1>{{ .name }}</h1>
    
    {{ with .colors }}
    <h5 class="gray">Colors</h5>
    <div class="grid">
      {{ range . }}
      <div class="package swatch">
        <svg style="fill: #{{.hex}}" width="100" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>
        <p class="summary">{{.name}}<br>{{.hex}}<br>{{.rgb}}</p>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ $folder := printf "%s/*" .slug }}
    {{ with $.Resources.Match $folder }}
    <h5 class="gray">Files</h5>
    <div class="grid">
      {{ range . }}
      <div class="package">
        <h6 class="bold">{{ .MediaType.SubType | upper }}</h6>

        {{ if eq .ResourceType "image" }}
        <a href="{{ .Permalink }}" download><img class="download" src="{{ .Permalink }}"></a>
        {{ else }}
        <a class="button impact" href="{{ .Permalink }}" download>Download</a>
        {{ end }}

        <p class="small">{{ .Name }}</p>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
         
  <!-- end data range -->
  {{ end }}

</article>
{{ end }}
