{{ define "head" }}
<link rel="stylesheet" href="/css/style-guide.css">
<link rel="stylesheet" href="/css/markets.css">
{{ end }}

{{ define "content" }}
<div class="panels">
  <article class="paper story-body" style="padding: 15px 0;">
    <h2>{{ .Title }}</h2>
    {{ .Content }}

    <!-- Loop through the markets in the data folder -->
    {{ range sort $.Site.Data.markets "city" }}
    <div class="story-module">
      <div class="package market-info">
        <h3 class="sans bold caps" id="{{.name}}">{{.name}}</h3>
        <h6>{{.city}}, {{.state}} | <a href="{{.url}}">{{.url}}</a></h6>
      </div>
      
      <!-- list the files -->
      {{ $slug := default .city .slug }}

      <div class="grid market-assets">
        {{ $logos := printf "%s/*.svg" $slug }}
        {{ range $.Resources.Match $logos }}
        <div class="package">
          <h6 class="bold">{{ .MediaType.SubType | upper }}</h6>
          <a href="{{ .Permalink }}" download><img class="download" src="{{ .Permalink }}"></a>
        </div>
        {{ end }}

        {{ $iconFolder := printf "%s/apps/*.svg" $slug }}
        {{ with $.Resources.Match $iconFolder }}
        <div class="package">
          <h6 class="bold">APP ICONS</h6>
          <div class="grid app-icons">
            {{ range . }}
            <div class="package">
              <a href="{{ .Permalink }}" download><img class="download" src="{{ .Permalink }}"></a>
              <span class="app-name">{{ path.Base .Name | replaceRE "\\..*$" "" }}</span>
            </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
      </div>

    </div>
    <!-- end data range -->
    {{ end }}
  </article>

  <div class="paper digest list">
    <div class="label">
      <h5>MARKETS</h5>
    </div>

    {{ range sort $.Site.Data.markets "city" }}
    <div class="package">
      <h6>{{.city}}, {{.state}}</h6>
      <h4 class="sans bold">
        <a href="#{{.name | urlize}}">{{.name}}</a>
      </h4>
    </div>
    {{ end }}
  </div>
{{ end }}
