.cnx-hl-big-play-button {
  display: none !important;
}

.cnx-hl-content-container .cnx-hl-progressbar .cnx-hl-progressbar-line .cnx-hl-progressbar-loader {
  background-color: #31409F !important;
}

.cnx-hl-content-container .cnx-hl-controlBar-container .cnx-hl-button,
.cnx-hl-content-container .cnx-hl-controlBar-container .cnx-hl-button svg {
  width: 20px !important;
  height: 20px !important;
}

.cnx-is-desktop .cnx-hl-controlBar-container .cnx-hl-button:hover svg {
  fill: unset !important;
}

.cnx-hl-content-container .cnx-hl-headline-container {
  left: 0 !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text {
  padding: 0 !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder:nth-of-type(2) {
  margin-top: 0 !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder,
.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text,
.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text .cnx-hl-text-outer-container {
  height: unset !important;
}

.cnx-is-desktop .cnx-hl-headline-container .cnx-hl-headline:hover .cnx-hl-text-inner-container {
  text-decoration: underline !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text .cnx-hl-text-outer-container .cnx-hl-text-inner-container {
  line-height: 1.2em !important;
}

.connatix *:not(.cnx-hl-progressbar-loader) {
  transition: unset !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text.get-out .cnx-hl-text-outer-container {
  opacity: 1 !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder .cnx-hl-text-placeholder .cnx-hl-text.get-out {
  left: 0 !important;
}

.cnx-hl-headline-container .cnx-hl-headline .cnx-hl-headline-placeholder {
  padding-top: 12px !important;
  box-sizing: border-box !important;
}

.cnx-hl-controlBar-container {
  bottom: 0 !important;
}

.cnx-hl-progressbar {
  bottom: 40px !important;
}
