/**
 * Expander 
 */

.expander {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expander:after {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDEuNSAyODQuNCI+PHBhdGggZD0iTTQ2Ny43LDI4NC40SDMzLjdjLTMwLDAtNDUtMzYuMy0yMy43LTU3LjVMMjI2LjksOS45YTMzLjgsMzMuOCwwLDAsMSw0Ny44LDBsMjE3LDIxN2MyMSwyMS4yLDYsNTcuNS0yNCw1Ny41WiIvPjwvc3ZnPgo=');
  width: 14px;
  margin-left: 5px;
  transition: transform .5s ease;
  transform: translateY(-.1em) rotateX(180deg);
  transform-origin: 50% 50%;
}

.expander ~ * {
  display: none;
}

.expander.open:after {
  transform: translateY(-.1em) rotateX(0);
}

.expander.open ~ * {
  display: block;
}

