/** 
DSP Overrides
**/

.dsp h1,
.dsp h2,
.dsp h3 {
    margin: 0;
}

.dsp p {
    margin: 10px 0;
}

.dsp .more-link.inline {
    display: inline;
    color: #31409f;
    text-transform: none;
    padding: 0;
}

.dsp.example {
    padding: 15px 0;
}

.dsp .package {   
    padding: 30px 15px;
}

.dsp .package.small {
    padding: 15px;
}

.dsp .paper,
.dsp .card {
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .13)
}

.dsp .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px 30px;
}

.dsp form .grid {
    grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
    grid-gap: 15px;
}

.dsp small { 
    font: 400 small var(--sans);
    color: #707070;
    margin: 0;  
    display: block;
}

.dsp .expander:after {
  width: 10px;
  filter: opacity(56%);
}

.dsp small.expander {
    justify-content: flex-end;
    display: flex;
}

.dsp small.stretch {
  grid-column: span 2;
  padding-top: 15px;
}

.dsp section {
    max-width: 710px;
    margin: 0 auto;
    text-align: center;
}

section.purchase-flow .horizontal {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 95px;
    grid-gap: 0px;
    order: 1;
}

.dsp .flex-columns > * {
    margin: 15px 0;
}

.purchase-flow .title {
    width: calc(100% - 30px);
    padding: 0 15px 5px;
}


/***** Media queries ****/

@media (min-width: 640px) {

.dsp .grid {
   grid-template-columns: 1fr 1fr;     
}
    
.dsp .paper,
.dsp .card {
    max-width: 340px;
}
     
section.purchase-flow .horizontal {
    align-self: flex-start;
    grid-template-columns: 1fr;
    order: 2;
}
    
section.purchase-flow .expander {
    display: none;
}
    
section.purchase-flow .stretch {
     display: block;
}

}    