<div class="paper digest list">
  <div class="atoms">
    <h3 class="list-category">Atoms <small><a href="/css/atoms.css">Download</a></small></h3>
    {{ range where .Pages "Params.level" "atom" }}
    {{ .Render "link" }}
    {{ end }}
  </div>

  <div class="molecules">
    <h3 class="list-category">Molecules <small><a href="/css/molecules.css">Download</a></small></h3>
    {{ range where .Pages "Params.level" "molecule" }}
    {{ .Render "link" }}
    {{ end }}
  </div>

  <div class="organisms">
    <h3 class="list-category">Organisms <small><a href="/css/organisms.css">Download</a></small></h3>
    {{ range where .Pages "Params.level" "organism" }}
    {{ .Render "link" }}
    {{ end }}
  </div>

  <h3 class="list-category">Templates <small><a href="/css/templates.css">Download</a></small></h3>
  <div class="package">
    <p class="summary">This file is the final tip of the iceberg for our current version, which will change over time. It doesn't have any direct children, but is necessary.</p>
  </div>

  <h3 class="list-category">Subscription flow <small><a href="/css/subscriptions.css">Download</a></small></h3>
  {{ range where .Pages.ByWeight "Params.level" "subscription" }}
  {{ .Render "link" }}
  {{ end }}

  <script src="/js/style-guide.js"></script>
</div>
