<div class="paper story list">
  <p>Below is the list of atoms and molecules defined in the design system. <a href="./about/">Click here</a> for some background on our process or to better understand how the different parts of our structure work together.</p>

  <h2 class="underline">Atoms <small><a href="/css/saratoga/atoms.css">Download File</a></small></h2>
  {{ range where .Pages "Params.level" "atom" }}
  {{ .Render "link" }}
  {{ end }}

  <h2 class="underline">Molecules <small><a href="/css/saratoga/molecules.css">Download File</a></small></h2>
  {{ range where .Pages "Params.level" "molecule" }}
  {{ .Render "link" }}
  {{ end }}

  <h2 class="underline">Organisms</h2>
  {{ range where .Pages "Params.level" "organism" }}
  {{ .Render "link" }}
  {{ end }}

  <script src="/js/style-guide.js"></script>
</div>
