{{ $cp := . }}
<div class="paper digest list">
  <div class="cards">
    <div class="label">
      <h5>CARDS</h5>
    </div>
    {{ range .Site.Menus.cards }}
    {{ $active := $cp.IsMenuCurrent "cards" . }}
    <div class="package {{- if $active }} active{{ end }}">
      <h4 class="sans bold">
        <a class="{{ .Page.Param "class" }}" href="{{ .Page.Permalink }}">{{ .Name }}</a>
      </h4>
      <p class="summary">{{ .Page.Description }}</p>
    </div>
    {{ end }}
  </div>

  <div class="decks">
    <div class="label">
      <h5>DECKS</h5>
    </div>
    {{ range .Site.Menus.decks }}
    {{ $active := $cp.IsMenuCurrent "decks" . }}
    <div class="package {{- if $active }} active{{ end }}">
      <h4 class="sans bold">
        <a class="{{ .Page.Param "class" }}" href="{{ .Page.Permalink }}">{{ .Name }}</a>
      </h4>
      <p class="summary">{{ .Page.Description }}</p>
    </div>
    {{ end }}
  </div>

  <div class="subscriptions">
    <div class="label">
      <h5>SUBSCRIPTION FLOW</h5>
    </div>
    {{ range .Site.Menus.subscriptions }}
    {{ $active := $cp.IsMenuCurrent "subscriptions" . }}
    <div class="package {{- if $active }} active{{ end }}">
      <h4 class="sans bold">
        <a href="{{ .Page.Permalink }}">{{ .Name }}</a>
      </h4>
      <p class="summary">{{ .Page.Description }}</p>
    </div>
    {{ end }}
  </div>

  <div class="molecules">
    <div class="label">
      <h5>MOLECULES</h5>
    </div>
    <div class="package">
      {{ range .Site.Menus.molecule }}
      {{ $active := $cp.IsMenuCurrent "molecule" . }}
      <h5 class="sans bold {{ .Page.Param "class" }}">
        <a href="{{ .Page.Permalink }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
      </h5>
      {{ end }}
    </div>
  </div>

  <div class="atoms">
    <div class="label">
      <h5>ATOMS</h5>
    </div>
    <div class="package">
      {{ range .Site.Menus.atom }}
      {{ $active := $cp.IsMenuCurrent "atom" . }}
      <h5 class="sans bold {{ .Page.Param "class" }}">
        <a href="{{ .Page.Permalink }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
      </h5>
      {{ end }}
    </div>
  </div>

  <script src="/js/style-guide.js"></script>
</div>
