{{ define "head" }}
<link rel="stylesheet" href="/css/about.css">
<script src="/js/jay-walkups.js" async></script>
{{ end }}

{{ define "content" }}
<article class="about">
  <header>
    {{ .Content }}
  </header>

  <section class="director grid">
    {{ partial "member.html" $.Site.Data.team.jessica }}
  </section>

  <section class="managers grid">
    {{ partial "member.html" $.Site.Data.team.eddie }}
    {{ partial "member.html" $.Site.Data.team.holly }}
  </section>

  <section class="bios grid">
    {{- range $.Site.Data.team }}
    {{ if not .manager }}{{ partial "member.html" . }}{{ end }}
    {{- end }}
  </section>
</article>
{{ end }}
