/**
 * Atoms: Saratoga design system
 */

body {
  position: relative;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font: 600 30px/1.2em "McClatchy Serif", serif;
}

h2 {
  font: 400 22px/1.2em "McClatchy Serif", serif;
}

h3 {
  font: 400 18px/1.2em "McClatchy Serif", serif;
}

h4 {
  font: 400 16px/1.2em "McClatchy Serif", serif;
}

h5 {
  font: 600 14px/1.2em "McClatchy Sans", sans-serif;
}

h6 {
  font: 400 12px/1.2em "McClatchy Sans", sans-serif;
}

p {
  font: 17px/1.5em "Lyon", serif;
}

ul, ol {
  list-style-type: outside;
  margin-left: 1.6em;
}

li {
  font: 17px/1.5em "Lyon", serif;
}

time {
  display: block;
  font: 300 11px/1.2em "McClatchy Sans", sans-serif;
  text-transform: uppercase;
  color: #989898;
}

figure {
  margin: 0;
}

figure img {
  display: block;
  max-width: 100%;
}

figcaption {
  font: 14px/1.4em "McClatchy Sans", sans-serif;
  color: #757575;
  padding: 10px 15px 0;
}

input, select {
  display: block;
  width: 100%;
  border: none;
  background-color: white;
  color: #222;
  font-size: 14px;
  padding: 13px;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

button, .button {
  font: 400 14px "McClatchy Sans";
  padding: .6em 1em .3em;
  border-radius: 2px;
  text-transform: uppercase;
}

hr {
  border: .5px solid #ddd;
}

/** Typography */

.summary {
  font: 14px/1.5em "McClatchy Sans";
  color: #373737;
}

.kicker {
  display: inline-block;
  padding: .4em .6em .2em;
  border: 1px solid #4A4A4A;
  border-radius: 2px;
  text-transform: uppercase;
}

.author, .credit, .job-title {
  font: 600 11px "McClatchy Sans";
  color: #989898;
  text-transform: uppercase;
}

.credit {
  font-weight: 400;
  font-style: italic;
}

.sans {
  font-family: "McClatchy Sans", sans-serif;
}

.serif {
  font-family: "McClatchy Serif", serif;
}

.bold {
  font-weight: 600;
}

/** Section labels */

.label {
  margin: 0;
  display: flex;
  justify-content: center;
}

.label > * {
  border-radius: 0;
  margin: 0;
  padding: 5px 10px 3px;
}

.label.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/** More link */

.more-link {
  display: flex;
  align-items: center;
  font: 500 14px/18px "McClatchy Sans";
  color: #989898;
  margin: 15px 15px 0;
  text-transform: uppercase;
}

.more-link:after, .arrow:after {
  content: "\2192";
  font-size: 20px;
  margin-left: 4px;
}

@media (min-width: 660px) {
  .more-link {
    margin-left: 0;
  }
}
