/**
 * Story body
 */

.story {
  padding: 15px 0 50px;
}

.story > * {
  max-width: 720px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.story > figure {
  max-width: 1140px;
  padding: 0;
}

.story > h2, .story > h3, .story > h4, .story > h5, .story > h6 {
  font-weight: 600;
  font-family: "McClatchy Sans";
  text-transform: uppercase;
}

.story .ad {
  margin: 50px auto;
}

/**
 * Generic grid
 */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

@media (min-width: 660px) {
  grid-gap: 15px;
}
