/**
 * Menu
 * Goes underneath the footer code in decks.css
 */

.main-nav {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  padding-bottom: 30px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-150%);
  transition: transform .4s ease;
  --bc: white;
  --bbc: transparent;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav svg {
  height: 20px;
}

.main-nav button,
.main-nav a {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 30px 15px 25px;
  border: none;
  border-left: 5px solid transparent;
  border-radius: 0;
  outline: none;
}

.main-nav button:hover,
.main-nav a:hover {
  background-color: #222;
}

.main-nav a {
  display: block;
}

.main-nav .expander {
  align-self: stretch;
  justify-content: space-between;
}

.main-nav .expander:after {
  filter: invert(1);
}

.main-nav .subsection a {
  padding: 10px 30px 10px 45px;
  --lc: #989898;
  --lhc: white;
}

.main-nav .expander.open,
.main-nav .expander.open + div a {
  background-color: #222;
  border-color: #fff;
}

.main-nav hr {
  border: .5px solid white;
  margin: 30px 0;
}
