/**
 * Purple Tuesdays
 */

@media (min-width: 690px) {
  .breaking-news-macro {
    margin: 0 15px;
  }
}

.header .blog-branding .teaser .title {
  font-size: 22px;
  font-weight: 400;
}

.mi-sticky-player-info {
  --ht: none;
}
