.search-form {
  margin: 50px 0;
}

.search-form input {
  flex: 1 1 auto;
  margin-right: 15px;
  align-self: stretch;
  font-size: 16px;
}

.search-results {
  align-items: center;
}

.mr-button {
  text-align: center;
}
