{{ if eq ($.Get "version") "bio" }}

<div class="author-card author-bio package">
  <div class="thumb">
    <img src="/img/aaron_moody.jpg">
  </div>
  <div class="details package">
    <h6 class="gray">SPORTS REPORTER</h6>
    <h3 class="name">Aaron Moody</h3>
  </div>
  <p class="summary">Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</p>
  <div class="social package">
    <h6 class="connect">CONNECT WITH AARON:</h6>
    <div class="social-media">
      <a class="i-envelope" href="mailto:amoody@newsobserver.com"></a>
      <a class="i-twitter" href="https://twitter.com/aaron_moody1"></a>
      <a class="i-facebook-f" href="#"></a>
      <a class="i-phone" href="#">
        <span class="small gray phone_num">816-123-4567</span>
      </a>
    </div>
  </div>
</div>

{{ else }}

<div class="author-card package">
  <div class="thumb">
    <img src="/img/aaron_moody.jpg">
  </div>
  <div class="package row">
    <h6 class="byline">
      <a href="mailto:amoody@newsobserver.com">Aaron Moody</a>
    </h6>
    <div class="social-media">
      <a class="i-envelope" href="mailto:amoody@newsobserver.com"></a>
      <a class="i-twitter" href="https://twitter.com/aaron_moody1"></a>
      <a class="i-facebook-f" href="#"></a>
      <a class="i-phone" href="#">
        <span class="small gray phone_num">816-123-4567</span>
      </a>
    </div>
  </div>
  <p class="summary">Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</p>
</div>

{{ end }}
