{{ if eq ($.Get "version") "bio" }}

<div class="author-card author-bio package">
  <div class="thumb">
    <img src="/img/aaron_moody.jpg">
  </div>
  <div class="a-details package">
    <h6 class="gray">SPORTS REPORTER</h6>
    <h3 class="name">Aaron Moody</h3>
  </div>
  <div class="summary package">
    <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
  </div>
  <div class="a-social package">
    <h6 class="connect">CONNECT WITH AARON:</h6>
    {{ template "shortcodes/social-media.html" }}
  </div>
</div>

{{- else -}}

<div class="author-card package">
  <div class="thumb">
    <img src="/img/aaron_moody.jpg">
  </div>
  <div class="flex">
    <h6 class="byline">
      <a href="mailto:amoody@newsobserver.com">Aaron Moody</a>
    </h6>
    {{ template "shortcodes/social-media-author.html" }}
  </div>
  <div class="summary package">
    <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
    <h5 style="color: #5169B8; text-transform: none;">Support my work with a digital subscription</h5>
    <a class="block gray more-link" href="#custom-url-from-CUE">SUBSCRIBE TODAY</a>
  </div>
</div>

{{- end }}
