<div class="author-card">
  <div class="row">
    <img class="author-thumb" src="/img/aaron_moody.jpg"></img>
    <div class="row">
      <h6 class="byline"><a href="mailto:amoody@newsobserver.com">AARON MOODY</a></h6>
      <div class="social-media">
        <a href="mailto:amoody@newsobserver.com">
          {{ partial "svg/envelope.svg" . }}
        </a>
        <a href="https://twitter.com/aaron_moody1">
          {{ partial "svg/twitter.svg" . }}
        </a>
        <a href="#">
          {{ partial "svg/facebook.svg" . }}
        </a>
        <a href="#">
          {{ partial "svg/phone.svg" . }}
          <span class="small gray phone_num">816-123-4567</span>
        </a>
      </div>
    </div>
  </div>
  <p class="summary">Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</p>
  <hr>
  <div class="package author-subscription">
    <h4 class="callout">Support our work with a digital subscription</h4>
    <a class="more-link">SUBSCRIBE TODAY</a>
  </div>
</div>
