<div class="big-news paper">
  <h5 class="latest">LATEST NEWS</h5>
  <div class="grid">
    <article class="package">
      <h3><a href="#">Looking for water or gas? Here are some places that have them </a></h3>
      <time>February 23, 2018 2PM</time>
    </article>
    <article class="package">
      <h3><a href="#">Hurrican Irma makes landfall in the Carribean: where's she headed next</a></h3>
      <time>February 23, 2018 2PM</time>
    </article>
    <article class="package">
      <h3><a href="#">Hurricane Irma's menacing eye strenghens</a></h3>
      <time>February 23, 2018 2PM</time>
    </article>
  </div>
  <h1>Hurricane Florence now a Category 4 &mdash; state of emergency declared</h1>
  <figure>
    <img src="https://www.mcclatchydc.com/latest-news/2dp7ij/picture218293685/alternates/LANDSCAPE_1140/Flood_td_103_LEDE.JPG">
    <figcaption>Officers carry June Loch to dry land after she was rescued from her home in the Pine Glen subdivision of Columbia, S.C. on Oct. 5, 2015. Record rainfall that October triggered floods that killed at least 19 people in South Carolina and caused extensive damage to neighborhoods that had never flooded before. Despite that disaster, only 9 percent of South Carolina households had purchased flood insurance by May of last year. <span class="byline"><a href="#">Tim Dominick</a></span>
  </figure>
  <div class="grid featured">
    <article class="card">
      <figure>
        <img src="https://www.mcclatchydc.com/news/nation-world/national/7g1ahc/picture174166396/alternates/LANDSCAPE_640/Hurricane%20Irma%202">
      </figure>
      <div class="package">
        <h3><a href="#">Looking for water or gas? Here are some places that have them </a></h3>
        <time>February 23, 2018 2PM</time>
      </div>
    </article>
    <article class="card">
      <figure>
        <img src="https://www.miamiherald.com/news/weather/hurricane/c3x8sb/picture172257337/alternates/LANDSCAPE_640/Coconut%20Grove%20Irma%2004%20EKM%20(1)">
      </figure>
      <div class="package">
        <h3><a href="#">Hurrican Irma makes landfall in the Carribean: where's she headed next</a></h3>
        <time>February 23, 2018 2PM</time>
      </div>
    </article>
    <article class="card">
      <figure>
        <img src="https://www.mcclatchydc.com/news/nation-world/national/w763tv/picture172700996/alternates/LANDSCAPE_640/AP_17254522905028">
      </figure>
      <div class="package">
        <h3><a href="#">Hurrican Irma makes landfall in the Carribean: where's she headed next</a></h3>
        <time>February 23, 2018 2PM</time>
      </div>
    </article>
  </div>
</div>
