{{- $class := .Get "class" }}
<article class="card {{ $class }}">
  <figure>
    {{- if eq $class "horizontal" }}
    <div class="label sticky"><h5 class="impact">READ NEXT</h5></div>
    {{- end }}
    <a href="https://mcclatchy.github.io/saratoga/food/205504249/">
      <img src="https://www.kansascity.com/living/food-drink/come-into-my-kitchen/tl1ycf/picture205504244/ALTERNATES/LANDSCAPE_640/0321%20cimk%20kuwata%2003022018%20s%20%284%29" srcset="https://www.kansascity.com/living/food-drink/come-into-my-kitchen/tl1ycf/picture205504244/ALTERNATES/LANDSCAPE_1140/0321%20cimk%20kuwata%2003022018%20s%20%284%29 1140w"> 
    </a>
  </figure>
  <div class="package">
    <a class="kicker h6" href="https://mcclatchy.github.io/saratoga/food/">FOOD</a>
    <h3><a href="https://mcclatchy.github.io/saratoga/food/205504249/">Hatch chiles bring heat and hearty flavor to New Mexican cuisine {{ if .Get 0 }}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent.{{ end }}</a></h3>
    <time>March 16, 2018 11:33 am</time>
  </div>
</article>
