{{- $hide := .Get "hide" -}}
{{- $class := .Get "class" -}}
{{- $headlineSize := default "h3" (.Get "headline-size") -}}
{{- $kickerSize := default "h6" (.Get "kicker-size") -}}

<article class="card {{ .Get "class" }}">
  {{- if not (in $hide "figure") }}
  <figure>
    {{- if in $class "horizontal" }}
    <div class="label sticky"><h5 class="impact">READ NEXT</h5></div>
    {{- end }}
    <a href="https://mcclatchy.github.io/saratoga/food/205504249/">
      <img src="/img/kitten.jpg" alt="Kitten clings for life during Hurricane Florence" loading="lazy">
    </a>
  </figure>
  {{- end }}
  <div class="package">
    {{- if not (in $hide "kicker") }}
    <a class="kicker {{ $kickerSize }}" href="https://mcclatchy.github.io/saratoga/food/">FOOD</a>
    {{- end }}
    <h3 class="{{ $headlineSize }}"><a href="#">Kitten clings for life as man awaits rescue from Florence.</a></h3>
    <time>March 16, 2018 11:33 am</time>
  </div>
</article>
