<div class="digest">
  <div class="paper {{ .Get "paper" }}">
    <a href="https://mcclatchy.github.io/saratoga/opinion/" class="label {{ .Get "label" }}">
      <h5 class="impact">OPINION</h5>
    </a>
    {{- if eq (.Get "label") "sticky" }}
    <article class="card">
      <figure>
        <a href="https://mcclatchy.github.io/saratoga/opinion/205928724/">
          <img src="https://pics.mcclatchyinteractive.com/opinion/gi1163/picture205928719/ALTERNATES/LANDSCAPE_640/AP_18073734498485" srcset="https://pics.mcclatchyinteractive.com/opinion/gi1163/picture205928719/ALTERNATES/LANDSCAPE_1140/AP_18073734498485 1140w"> 
        </a>
      </figure>
      <div class="card-info">
        <h3><a href="https://mcclatchy.github.io/saratoga/opinion/205928724/">Kudlow joins White House that sorely needs cooler heads to prevail</a></h3>
        <time>March 19, 2018 5:34 pm</time>
      </div>
    </article>
    {{- else }}
    <article class="card-info">
      <h3><a href="https://mcclatchy.github.io/saratoga/opinion/205928724/">Kudlow joins White House that sorely needs cooler heads to prevail</a></h3>
      <time>March 19, 2018 5:34 pm</time>
    </article>
    {{- end }}
    <article class="card-info">
      <h3><a href="https://mcclatchy.github.io/saratoga/opinion/205579084/">The Episcopal Church changed course for our LGBT members</a></h3>
      <time>March 16, 2018 3:42 pm</time>
    </article>
    <article class="card-info">
      <h3><a href="https://mcclatchy.github.io/saratoga/opinion/205581414/">The Kansas Republican Party is taking a stance on transgender identity</a></h3>
      <time>March 16, 2018 3:58 pm</time>
    </article>
    <article class="card-info">
      <h3><a href="https://mcclatchy.github.io/saratoga/opinion/205583064/">Letters: Readers discuss teen drinking, tax-cut benefits in Missouri and student protests</a></h3>
      <time>March 16, 2018 4:08 pm</time>
    </article>
  </div>
  <a href="https://mcclatchy.github.io/saratoga/opinion/" class="more-link">MORE OPINION</a>
</div>
