{{- $type := .Get "type" }}

{{- if in $type "twitter" }}
<div class="embed-infographic">
  <h3>Twitter</h3>
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Part Three: Even from jail, Jeffrey Epstein manipulated the system | Miami Herald <a href="https://t.co/shCg3y0DLk">https://t.co/shCg3y0DLk</a></p>&mdash; julie k. brown (@jkbjournalist) <a href="https://twitter.com/jkbjournalist/status/1151330281376428033?ref_src=twsrc%5Etfw">July 17, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{{ end }}

{{- if in $type "facebook" }}
<div class="embed-infographic">
  <h3>Facebook</h3>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkansascitystar%2Fposts%2F10157132240574094&width=500" width="500" height="487" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
{{ end }}

{{- if in $type "youtube" }}
<div class="embed-infographic">
  <h3>Youtube</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5SNfzWmdo0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{ end }}

{{- if in $type "docpub" }}
<div class="embed-infographic">
  <link rel="stylesheet" type="text/css" href="https://d1at6jy1u029jl.cloudfront.net/docpub/embed/style.css"></link><div><iframe class="docpubEmbed" src="https://www.documentcloud.org/documents/6540350-Lawsuit-against-city-of-Fresno-La-Kebbia-Wilson.html?sidebar=false"></iframe></div>
</div>
{{ end }}

{{- if in $type "pinterest" }}
<div class="embed-infographic">
  <h3>Pinterest</h3>
  <a data-pin-do="embedPin" data-pin-width="large" href="https://www.pinterest.com/pin/490681321902116746/"></a>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</div>
{{ end }}

{{- if in $type "vimeo" }}
<div class="embed-infographic">
  <h3>Vimeo</h3>
  <iframe src="https://player.vimeo.com/video/103134597" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <p><a href="https://vimeo.com/103134597">Running</a> from <a href="https://vimeo.com/theblakship">Erick Flores Garnelo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
{{ end }}
