<figure class="immersive">
  <div class="media impact video" style="background-image:url(https://cf-images.us-east-1.prod.boltdns.net/v1/static/5502557046001/0ae7c577-98c6-4740-be40-476282561b76/3a881153-146d-4439-93a1-6159833783e5/480x270/match/image.jpg);" data-toggle="modal" data-target="#immersiveModal-12818709">
    <div class="content">
      <button
        class="video-modal__trigger"
        data-toggle="modal"
        data-target="#immersiveModal-12818709">
        <svg class="video-play" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" fill="white" /></svg>
      </button>
      <h2 class="caps h6"><a class="kicker" href="#">Crime</a></h2>
      <h3 class="title">More than 50 children killed in 3 years: Guns take a heavy toll</h3>
    </div>
  </div>
  <figcaption>TAMMY LJUNGBLAD</figcaption>
</figure>
