<div class="card horizontal in-depth">
  <figure>
    <div class="label sticky"><h5 class="impact">IN DEPTH</h5></div>
    <img src="https://www.kansas.com/latest-news/6aw7pv/picture225984215/alternates/LANDSCAPE_768/tax-forms.jpg">
  </figure>
  <div class="package impact">
    <h1>After meeting Brownback’s circle, firm was on ‘right path’ to $61M no-bid contract</h1>
    <summary>Thousands of emails reveal how CGI Technologies landed a $61 million contract to overhaul Kansas tax systems. New Gov. Laura Kelly has promised to crack down on no-bid contracts.</summary>
  </div>
</div>
