{{ $type := default "cta" (.Get "type" ) }}
{{ $class := .Get "class" }}

{{ if eq $type "cta" }}
<div class="inline-cta ad-widget package {{$class}}">
  <h1>Make us part of your daily routine.</h1>
  <p class="summary">Get full access to The Sacramento Bee across all your devices. Unlimited Digital Access: Only $0.99 for your first month.</p>
  <a class="button" href="#">SAVE NOW</a>
</div>
{{ end }}

{{ if eq $type "podcast" }}
<div class="inline-cta ad-widget package {{$class}}">
  <h1>Listen to the Morning Mix Podcast</h1>
  <p class="summary">Start your day with the most important local and national stories from The Sacramento Bee.</p>
  <a class="button" href="#">LISTEN NOW</a>
</div>
{{ end }}

{{ if eq $type "newsletter" }}
<form class="inline-cta ad-widget package {{$class}}">
  <h1>Breaking news</h1>
  <p class="summary">Be the first to know when big news breaks</p>
  <input type="hidden" value="breaking newsletter" id="newsletterType">
  <input type="email" placeholder="Email">
  <button class="button">Sign Up</button>
</form>
{{ end }}
