<div id="main-nav" class="main-nav sans summary impact">
  <button class="summary flex" onclick="closeNavigation()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" fill="white"/></svg>
    <span class="h5 icon-label">SECTIONS</span>
  </button>
  <a href="#">
    <img src="https://www.kansascity.com/wps/build/images/widgets/navigation/eedition-logo-white.svg">
  </a>
  <p>This is a test paragraph</p>
  <a href="#">Home</a>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">News</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Sports</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Politics</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Business</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Living</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Entertainment</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <div class="subsection">
    <button class="summary expander" onclick="this.classList.toggle('open')">Opinion</button>
    <div>
      <a href="#">Subsection 1</a>
      <a href="#">Subsection 2</a>
      <a href="#">Subsection 3</a>
      <a href="#">Subsection 4</a>
      <a href="#">Subsection 5</a>
    </div>
  </div>
  <hr>
  <a href="#">Mobile &amp; Apps</a>
  <a href="#">Niche pub</a>
  <a href="#">Niche pub</a>
</div>
