<figure class="photo-inline-square mugshot"> 
  <div class="img-container picture ">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_1140/Algia_clark.jpg" media="(min-width: 992px)">
      <source srcset="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_960/Algia_clark.jpg" media="(min-width: 768px)">
      <source srcset="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_768/Algia_clark.jpg" media="(min-width: 601px)">
      <source srcset="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_640/Algia_clark.jpg" media="(min-width: 441px)">
      <source srcset="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_480/Algia_clark.jpg" media="(min-width: 320px)">
      <!--[if IE 9]></video><![endif]-->
      <!--Inline Style of width = 100% has been removed. Semantic approach is to add css styling -->
      <img class=" lazy responsive-image" data-original="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_1140/Algia_clark.jpg" alt="Algia_clark.jpg" title="Algia_clark.jpg" src="https://www.charlotteobserver.com/latest-news/uhvju4/picture235264057/alternates/FREE_1140/Algia_clark.jpg" style="display: block;">
    </picture>
      <figcaption> Algia Clark <span class="credit">Mecklenburg County Sheriff'</span></figcaption>
  </div>
</figure>
