<div class="story-module">
  <h2>Before the case went cold</h2>
  <p class="summary">A look at the murder of 18-year-old David Krulewicz and the rape of his 15-year-old girlfriend Susan Weed — and the years' long investigation before the case went cold in 1983.</p>
  <div class="timeline-event package">
    <time>7:15 PM - MAY 1, 1980</time>
    <h4>EVENT TITLE</h4>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
  </div>
  <div class="timeline-event package">
    <time>7:15 PM - MAY 1, 1980</time>
    <h4>EVENT TITLE</h4>
    <figure>
      <img src="https://www.kansascity.com/entertainment/r2fv37/picture224516330/alternates/LANDSCAPE_768/IMG_Lyle_Lovett_5_1_69CSTM8T_L356691651.JPG">
    </figure>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
  </div>
  {{- if eq (.Get "type") "story" }}
  <div>
    <h5 class="expander" onclick="this.classList.toggle('open')">SEE ALL EVENTS</h5>
    <div class="timeline-event package">
      <time>7:15 PM - MAY 1, 1980</time>
      <h4>EVENT TITLE</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
    </div>
    <div class="timeline-event package">
      <time>7:15 PM - MAY 1, 1980</time>
      <h4>EVENT TITLE</h4>
      <figure>
        <img src="https://www.kansas.com/news/local/sh6ynl/picture52529900/alternates/LANDSCAPE_768/LYLE%20LOVETT">
      </figure>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
    </div>
    <div class="timeline-event package">
      <time>7:15 PM - MAY 1, 1980</time>
      <h4>EVENT TITLE</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
    </div>
    <div class="timeline-event package">
      <time>7:15 PM - MAY 1, 1980</time>
      <h4>EVENT TITLE</h4>
      <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
    </div>
  </div>
  {{- else }}
  <div class="timeline-event package">
    <time>7:15 PM - MAY 1, 1980</time>
    <h4>EVENT TITLE</h4>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
  </div>
  <div class="timeline-event package">
    <time>7:15 PM - MAY 1, 1980</time>
    <h4>EVENT TITLE</h4>
    <figure>
      <img src="https://www.kansas.com/news/local/sh6ynl/picture52529900/alternates/LANDSCAPE_768/LYLE%20LOVETT">
    </figure>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor purus. Duis a venenatis justo. Phasellus venenatis, arcu a elementum aliquam, quam velit facilisis.</p>
  </div>
  {{- end }}
</div>
