<article class="card {{ .class }}">
  {{- if not (in .hide "figure") }}
  <figure>
    {{- if in .class "horizontal" }}
    <div class="label sticky"><h5 class="impact">READ NEXT</h5></div>
    {{- end }}
    <a href="https://mcclatchy.github.io/saratoga/food/205504249/">
      <img src="https://www.kansascity.com/living/food-drink/come-into-my-kitchen/tl1ycf/picture205504244/ALTERNATES/LANDSCAPE_640/0321%20cimk%20kuwata%2003022018%20s%20%284%29" srcset="https://www.kansascity.com/living/food-drink/come-into-my-kitchen/tl1ycf/picture205504244/ALTERNATES/LANDSCAPE_1140/0321%20cimk%20kuwata%2003022018%20s%20%284%29 1140w"> 
    </a>
  </figure>
  {{- end }}
  <div class="package">
    {{- if not (in .hide "kicker") }}
    <a class="kicker h6" href="https://mcclatchy.github.io/saratoga/food/">FOOD</a>
    {{- end }}
    {{- $h := default "h3" .size }}
    {{ printf "<%s>Hatch chiles bring heat and hearty flavor to New Mexican cuisine</%s>" $h $h | safeHTML }}
    <time>March 16, 2018 11:33 am</time>
  </div>
</article>
