<figure class="immersive">
  <div class="media impact video" style="background-image:url(https://cf-images.us-east-1.prod.boltdns.net/v1/static/5502557046001/0ae7c577-98c6-4740-be40-476282561b76/3a881153-146d-4439-93a1-6159833783e5/480x270/match/image.jpg);" data-toggle="modal" data-target="#immersiveModal-12818709">
    <div class="content">
      <button
        class="i-play-circle invert video-modal__trigger"
        data-toggle="modal"
        data-target="#immersiveModal-12818709">
      </button>
      <h2 class="caps h6"><a class="kicker" href="#">Crime</a></h2>
      <h3 class="title">More than 50 children killed in 3 years: Guns take a heavy toll</h3>
    </div>
  </div>
  <figcaption>TAMMY LJUNGBLAD</figcaption>
</figure>
