<div class="card horizontal in-depth">
  {{ if ne .image "hide" }}
  <figure>
    <div class="label sticky"><h5 class="impact">IN DEPTH</h5></div>
    <a href="https://www.kansascity.com/news/politics-government/article225926790.html">
      <img src="https://www.kansas.com/latest-news/6aw7pv/picture225984215/alternates/LANDSCAPE_768/tax-forms.jpg">
    </a>
  </figure>
  {{ end }}
  <div class="package impact">
    <a class="kicker h6" href="https://www.kansascity.com/news/politics-government/article225926790.html">Government &amp; Politics</a>
    <h1><a href="https://www.kansascity.com/news/politics-government/">After meeting Brownback’s circle, firm was on ‘right path’ to $61M no-bid contract</a></h1>
    <summary>Thousands of emails reveal how CGI Technologies landed a $61 million contract to overhaul Kansas tax systems. New Gov. Laura Kelly has promised to crack down on no-bid contracts.</summary>
  </div>
</div>
